<template>
  <header class="main-header header-admin container">
    <p class="pull-left text-white pt-4"><b>{{userInfo.Fullname}}</b></p>
    <a href="#" class="sidebar-toggle pull-right" style="float: right" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
  </header>
</template>

<script>
  export default {
    name: "AdminHeader",
    data() {
      return {
        userInfo: []
      }
    },
    mounted() {
      this.userInfo = JSON.parse(localStorage.user_info)
    },
  }
</script>

<style lang="scss">
  .header-admin {
    display: none;
    z-index: 9;
    background-color: #c12466 !important;
  }

  .sidebar-toggle {
    color: #ffffff;
  }

  @media (max-width: 960px) {
    .header-admin {
      display: block;
    }
    .wapper-header {
      position: inherit;
      margin-top: 55px;
    }
  }
</style>
