<template>
  <div class="header py-3 position-fixed w-100 " data-spy="affix" data-offset-top="80">
      <div class="container">
        <div class="row">
          <div class="col-4 col-lg-9 d-flex align-items-center">
            <a href="/">
              <img width="200" src="/images/log-white.svg" alt="">
              <img class="logo-fix d-none" width="120" src="/images/logo-color.png" alt="">
            </a>
            <ul :class="{open: showMenu}" class="menu ml-5 text-uppercase">
              <li :class="{active : checkActive('home')}"><a href="/">Trang chủ</a></li>
              <li :class="{active: checkActive('#gioi-thieu')}"><a href="/#gioi-thieu">Giới thiệu</a></li>
              <li class="position-relative" :class="{active : checkActive('tin-tuc')}">
                <a href="#tin-tuc">Tin tức <i class="fa fa-angle-down"></i></a>
                <ul class="menu_sub">
                  <li v-for="item in categories">
                    <nuxt-link :to="'/tin-tuc/chuyen-muc/'+item.CategoryId">
                      {{item.CategoryName}}
                    </nuxt-link>
                  </li>
                </ul>
              </li>
              <li :class="{active: checkActive('#lien-he')}"><a href="/#lien-he">Liên hệ</a></li>
            </ul>
          </div>
          <div class="col-8 col-lg-3">
            <div @click="showMenu = !showMenu" class="menu__btn pull-right ml-2">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <template v-if="userInfo">
              <nuxt-link :to="'/me/news'">
                <div class="pull-right d-flex align-items-center">
                  <span style="background-size: cover" class="user-avatar mr-3" :style="{ 'background-image': 'url(https://graph.facebook.com/'+ userInfo.FacebookId + '/picture?type=large)' }"></span>
                  <span style="margin-top: 15px">{{userInfo.Fullname}}</span>
                </div>
              </nuxt-link>
            </template>
            <button v-else @click="showAuthPopup = true" class="btn-dang-nhap mt-4 btn btn-radius--50 btn-yellow pull-right">Đăng nhập/Đăng ký
            </button>
          </div>
        </div>
      </div>
    <PopupAnth :show="showAuthPopup" @close-popup="closePopup"/>
  </div>
</template>

<script>
  import PopupAnth from "~/components/popup/PopupAuth";
  import Cookie from 'js-cookie'
  export default {
    name: "ClientHeader",
    components: {PopupAnth},
    data() {
      return {
        showAuthPopup: false,
        userInfo: null,
        showMenu: false,
        categories: []
      }
    },

    mounted() {
      if(Cookie.get('user_info')) this.userInfo = JSON.parse(localStorage.user_info)
    },

    created() {
      if(this.$route.hash && this.$route.hash === '#login') this.showAuthPopup = true
      this.getCategory()
    },
    methods: {
      async getCategory() {
        this.categories = (await this.$_callApiGet('common/index', {})).NewsCategoryList
      },
      closePopup() {
        this.showAuthPopup = false
      },
      checkActive(path){
        const pathArr = (this.$route.path).split('/')
        if(pathArr[1] === 'tin-tuc' && pathArr[1] === path) return true
        else if(!this.$route.hash && this.$route.path === '/' && path === 'home') return true
        else if(this.$route.hash === path) return true
      }
    }
  }
</script>

<style lang="scss" scoped>
  // header

  .header {
    z-index: 999;
    a {
      color: #ffffff !important;
    }
    .user-avatar {
      margin-top: 15px;
    }
    &.affix, &-white {
      .user-avatar {
        margin-top: 3px !important;
      }
      span {
        margin-top: 0 !important;
      }
      a {
        color: #585858 !important;
      }
      box-shadow: 0 0px 4px #666666;
      * {
        transition: all .3s;
      }
      background-color: #ffffff;
      .menu {
        li {
          &>a {
            color: #585858;
            &:hover {
              color: #c12466;
            }
          }
          &.active {
            &>a {
              color: #c12466;
              border-bottom: solid 2px #c12466;
            }
          }

          &:hover {
            &>a {
              border-bottom: solid 2px #c12466;
            }
          }
        }
      }
      button {
        background-color: #c12466;
        color: #ffffff !important;
        margin-top: 3px !important;
      }
      img {
        display: none;
        &.logo-fix {
          display: block !important;
        }
      }
    }
    @media (max-width: 950px) {
      a {
        color: #585858 !important;
      }

      span {
        margin-top: 0 !important;
      }
      .user-avatar {
        margin-top: 3px !important;
      }
      box-shadow: 0 0px 4px #666666;
      * {
        transition: all .5s;
      }
      background-color: #ffffff;
      .menu {
        li {
          a {
            color: #585858;
            &:hover {
              color: #c12466;
            }
          }
          &.active {
            &>a {
              color: #c12466;
              border-bottom: solid 2px #c12466;
            }
          }

          &:hover {
            &>a {
              border-bottom: solid 2px #c12466;
            }
          }
        }
      }
      button {
        background-color: #c12466;
        color: #ffffff !important;
        margin-top: 3px !important;
        padding: .5rem 1rem !important;
      }
      img {
        display: none;
        &.logo-fix {
          display: block !important;
        }
      }
    }
  }
  .menu {
    display: inline;
    margin: 0;

    &_sub {
      position: absolute;
      z-index: 2;
      width: 200px;
      background-color: #ffffff;
      padding: 15px !important;
      border-radius: 8px;
      display: none;
      box-shadow: 0 0 8px #666666;
      a {
        color: #222222 !important;
      }
    }
    li {
      display: inline-block;
      list-style: none;
      margin-right: 1.5rem;
      &:hover {
        .menu_sub {
          display: block;
        }
      }
      &>a {
        display: inline-block;
        color: #ffffff;
        padding: .8rem 1.5rem;
        text-decoration: none;
        &:hover {
          color: #FFF000;
        }
      }

      &.active {
        &>a {
          color: #FFF000;
          border-bottom: solid 2px #FFF000;
        }
      }

      &:hover {
        &>a {
          border-bottom: solid 2px #ffffff;
        }
      }
    }
    &__btn {
      width: 45px;
      height: 40px;
      padding: 10px;
      flex-direction: column;
      justify-content: space-between;
      background-color: #c12466;
      display: none;
      span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #fff;
      }
      @media (max-width: 959.98px) {
        display: flex;
      }
    }
    @media (max-width: 959.98px) {
      display: none;
      &.open {
        display: block !important;
        position: fixed;
        width: 60%;
        z-index: 9999;
        top: 62px;
        right: 0;
        height: calc(100vh - 62px);
        background-color: #ffff;
        margin: 0 !important;
        padding: 0;
        box-shadow: 0px 2px 4px #dddddd;
        li {
          display: block;
          text-align: right;
          padding: 0 15px;
        }
      }
    }
  }
</style>
