<template>
  <div>
    <vue-glide :options="glideOpts" v-if="news.length">
      <vue-glide-slide v-for="item in news" class="px-4 py-5">
        <nuxt-link :to="'/tin-tuc/'+item.NewsId">
          <div class="news">
            <div v-if="item.ImageUrl" class="bg-img bg-img-34" :style="{ 'background-image': 'url(' + item.ImageUrl.replace('http://', 'https://') + ')' }">
              <div class="bg-img-overlay d-flex align-items-lg-end">
                <div class="p-4">
                  <div class="news-title" style="-webkit-box-orient: vertical;">
                    <b>{{ item.Title }}</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="news-bottom d-flex justify-content-between align-items-center px-4 py-3">
              <b>
                <small>{{checkCategoryName(item.CategoryId)}}</small>
              </b>
              <div class="text-pink">
                <small><b>Xem chi tiết >></b></small>
              </div>
            </div>
          </div>
        </nuxt-link>
      </vue-glide-slide>
    </vue-glide>
  </div>
</template>

<script>
  import {Glide, GlideSlide} from 'vue-glide-js'
  import {defaultGlideOpts} from '~/utils/carousel'

  export default {
    name: "slideNews",
    components: {
      [Glide.name]: Glide,
      [GlideSlide.name]: GlideSlide,
    },
    data() {
      return {
        glideOpts: {
          ...defaultGlideOpts,
          perView: 3,
          breakpoints: {
            600: {
              perView: 1.2
            },
            800: {
              perView: 2.2
            }
          }
        },
        news: [],
        categories: []
      }
    },

    created() {
      this.getData()
    },

    methods: {
      async getData() {
        const data = await this.$_callApiGet('news/get', {CategoryId: 0}, [0, 5])
        this.categories = (await this.$_callApiGet('common/index', {})).NewsCategoryList
        if (data.Reason) {
          this.$toast.error(data.Reason)
        }
        else this.news = data.News
      },
      checkCategoryName(id) {
        return this.categories.filter(e => e.CategoryId == id)[0].CategoryName
      }
    }
  }
</script>
