<template>
  <div>
    <div class="wapper-header">
      <h3 class="text-pink wapper-header-title"><span @click="backRoute"><i class="fa fa-chevron-left"></i></span> Chi tiết thông báo</h3>
    </div>
    <div class="wrapper-body">
      <div class="container bg-white py-30 px-20">
        <div class="text-center">
          <h3><b>THÔNG BÁO VỀ SỰ KIỆN TEAMBUILDING TOÀN CÔNG TY</b></h3>
          <small><b>Ngày gửi: </b>12/05/2019</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import api from "~/mixins/api"

  export default {
    name: "_id",
    mixins: [
      api
    ],
    methods: {
      backRoute() {
        window.history.back();
      }
    }
  }
</script>

<style scoped>

</style>
