<template>
  <div>
    <div v-if="showNoti" class="popup">
      <div @click="showNoti = false" class="popup-overlay"></div>
      <div class="popup-inner p-5">
        <div class="popup-close" @click="showNoti = false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div v-if="notiType === 3" class="text-center">
          <h1 class="text-pink"><b>{{viewNoti.Title}}</b></h1>
          <p class="mb-5">{{viewNoti.Description}}</p>
          <button
            @click="removeConnectAccount(viewNoti.TargetId, viewNoti.Title, viewNoti.NotificationId)"
            class="btn btn-default"
          >
            Không đồng ý
          </button>
          <button
            @click="acceptConnectAccount(viewNoti.TargetId, viewNoti.Title, viewNoti.NotificationId)"
            class="btn btn-pink"
          >
            Đồng ý kết nối
          </button>
        </div>
        <div v-else class="viewNoti">
          <div class="text-center mt-4 mb-4">
            <h2 class="mb-0"><b>{{viewNoti.Title}}</b></h2>
            <small>{{viewNoti.Date}}</small>
          </div>
          <div class="mt-5 w-100" v-html="viewNoti.HTML"></div>
        </div>
      </div>
    </div>
    <div class="wapper-header">
      <h3 class="text-pink wapper-header-title">Thông báo</h3>
      <div class="tool-bar d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <button
            :disabled="!(checked.length !== 0)"
            @click="showPopup = true"
            type="button" class="btn btn-default btn-sm mr-3">
            <i class="fa fa-trash-o"></i>
          </button>
          <select class="mr-3">
            <option value="">Tất cả</option>
            <option value="">Thông báo đã xem</option>
            <option value="">Thông báo chưa xem</option>
          </select>
          <!--<input type="date"/>-->
        </div>
        <div v-if="numPage > 1" class="pull-right">
          <b-pagination-nav
            ref="pagination"
            v-model="page"
            :link-gen="linkGen"
            :number-of-pages="numPage"
            use-router
          />
        </div>
      </div>
    </div>
    <div class="wrapper-body position-relative">
      <div class="bg-white">
        <table class="table table-hover table-list">
          <thead>
          <tr>
            <th>
              <label class="checkbox-custom mr-3">
                <input
                  v-model="checkedAll"
                  @change="checkAll"
                  type="checkbox"
                ></input>
                <span class="checkmark"></span>
              </label>
            </th>
            <th>SỰ KIỆN</th>
            <th>Mô tả</th>
            <th>THỜI GIAN</th>
            <th class="text-center" width="150px">HÀNH ĐỘNG</th>
          </tr>
          </thead>
          <tbody>
          <tr style="cursor: pointer" v-for="i in noti" :key="i.key" :class="{watched : i.Status}">
            <td width="80px">
              <label class="checkbox-custom mr-3">
                <input
                  type="checkbox"
                  v-model="checked"
                  :value="i.NotificationId"
                  :checked="checked.indexOf(+i.NotificationId)>-1"
                  @change="checkedAll=false"
                >
                <span class="checkmark"></span>
              </label>
            </td>
            <td @click="notiAction(i)"  class="text-info">{{i.Title}}</td>
            <td @click="notiAction(i)">{{i.Description}}</td>
            <td @click="notiAction(i)">{{i.Date}}</td>
            <td class="table-list-action" width="150px">
              <button @click="showPopup = true, checked.push(i.NotificationId)"><i class="icon-delete"></i></button>
              <button><i :class="i.Status ? 'icon-email-open' : 'icon-email-close'"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <Loading v-if="loading"/>
      <div v-if="showPopup" class="popup">
        <div @click="showPopup" class="popup-overlay"></div>
        <div class="popup-inner p-5 text-center">
          <h3 class="mb-5">Bạn có muốn xóa thông báo đã chọn ???</h3>
          <button @click="showPopup=false, checked = [], checkedAll= false" class="btn btn-default mr-4">Hủy</button>
          <button @click="deleteNoti(checked)" class="btn btn-pink">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import pageNavigation from "~/mixins/pageNavigation"
  import Loading from "~/components/base/Loading"

  export default {
    name: "notification",
    components: {Loading},
    mixins: [
      pageNavigation,
    ],

    data() {
      return {
        page: 1,
        perPage: 10,
        noti: [],
        loading: false,
        checked: [],
        showNoti: false,
        viewNoti: null,
        notiType: null,
        checkedAll: false,
        showPopup: false,
        numPage: 1
      }
    },

    created() {
      if (this.$route.query.page) this.page = this.$route.query.page
      this.getData()
    },
    watch: {
      'page': 'getData'
    },
    methods: {
      async removeConnectAccount(id, name,notiId) {
        if (confirm('Bạn có muốn từ chối kết nối với: ' + name + ' ?')) {
          const data = await this.$_callUserApiGet('contact/delete', {
            ContactId: id,
          }, null)
          if (data.Reason) {
            this.$toast.error(data.Reason, {duration: 5000})
          }
          else {
            this.$toast.success('Đã từ chối kết nối', {duration: 6000})
            this.showNoti = false
            this.viewNoti = null
            this.getData()
            //this.deleteNoti(notiId)
          }
        }
      },
      async acceptConnectAccount(id, name, notiId) {
        if (confirm('Bạn có muốn kết nối với: ' + name + ' ?')) {
          const data = await this.$_callUserApiGet('contact/acceptrequest', {
            ContactId: id,
          }, null)
          if (data.Reason) {
            this.$toast.error(data.Reason, {duration: 5000})
          }
          else {
            this.$toast.success('Đã kết nối', {duration: 6000})
            this.showNoti = false
            this.viewNoti = null
            this.getData()
            //this.deleteNoti(notiId)
          }
        }
      },
      async getData() {
        this.loading = true
        const dataAll =  await this.$_callUserApiGet('user/notifications', [], [0,10000])
        if(dataAll.Notifications) this.numPage = Math.ceil(dataAll.Notifications.length/this.perPage)
        let StartIndex = 0
        if (this.page !== 1) StartIndex = (this.page - 1) * this.perPage
        const pageSection = [StartIndex, this.perPage]
        const data = await this.$_callUserApiGet('user/notifications', [], pageSection)
        this.noti = data.Notifications
        setTimeout(() => this.loading = false)
      },

      async markRead(id) {
        let payload = {
          NotificationId: id
        }
        const data = await this.$_callUserApiGet('user/notification/read', payload)
        if (data.Reason) {
          this.$toast.success(data.Reason, {duration: 5000})
        }
      },

      async deleteNoti(id) {
        const list = '['+ id.toString() + ']'
        const data = await this.$_callUserApiGet('notification/delete', {NotificationIds: list})
        if (data.Reason) {
          this.$toast.error(data.Reason, {duration: 5000})
        }else {
          this.$toast.success(`Đã xóa ${id.length} thông báo`, {duration: 5000})
          this.getData()
          this.showPopup = false
          this.checked = []
          this.checkedAll = false
        }
      },
      notiAction(noti) {
        this.notiType = noti.Type
        if(noti.Type === 3) {
          this.showNoti = true
          this.viewNoti = noti
        }
        // this.markRead(noti.NotificationId)
      },
      checkAll(status) {
        if (status.currentTarget.checked) {
          this.checked = []
          for (let i = 0; i < this.noti.length; i++) {
            this.checked.push(this.noti[i].NotificationId)
          }
        } else this.checked = []
      },
    }
  }
</script>

<style lang="scss" scoped>
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #D2D2D2;
  }

  .table > thead > tr > th {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: none;
    border-bottom: solid 1rem #f2f2f2;
  }

  .table {
    tbody tr:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0px;
      transform: translateX(1px);
    }
  }
</style>

<style lang="scss">
  .viewNoti {
    max-height: 90vh;
    overflow-y: scroll;
    img {
      max-width: 100% !important;
    }
  }
</style>
