<template>
  <div class="position-relative">
    <template v-if="userInfo.Pro">
      <div class="wapper-header pb-0">
        <h3 class="text-pink wapper-header-title">Kho dữ liệu Premium</h3>
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li
              v-for="(item, key) in types"
              @click="getData(item.id), typeActive = item.id"
              :class="{ active: item.id == 1 }"
              class="text-center"
            >
              <a :href="`#${item.id}`" data-toggle="tab"><b>{{item.name}}</b> <br> <small style="color: #999999">{{item.sub}}</small></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="wrapper-body position-relative">
        <div class="d-flex justify-content-end mb-5">
          <div class="input-icon">
            <i class="fa fa-search"></i>
            <input v-on:input="debounceInput" placeholder="Tên ảnh/video" type="text" style="width: 300px;">
          </div>
        </div>
        <div class="row">
          <div
            v-for="(item, key) in PremiumContents"
            class="col-md-2 mb-5"
            :key="key"
          >
            <div
              @click="showMedia(item)"
              class="bg-img bg-img-11 bg-gray pointer"
              :style="{ 'background-image': 'url(' + `${item.Thumbnail.replace('http://', 'https://')}` + ')' }"
            >
              <div class="bg-img-inner d-flex justify-content-center align-items-center">
                <i class="fa fa-2x fa-eye"></i>
              </div>
            </div>
            <p class="text-center mt-3" style="text-overflow: ellipsis; overflow: hidden">{{item.Name}}</p>
          </div>
        </div>
        <div class="text-center" v-if="dataLoad >= this.perPage">
          <button @click="loadMore" class="btn btn-pink">Xem thêm</button>
        </div>
      </div>
    </template>
    <div v-else class="d-flex align-items-center justify-content-center" style="height: 100vh">
      <div class="text-center">
        <img width="250" src="/images/logo-color.png" alt="">
        <p class="pt-4" style="color: #999999">Bạn cần nâng cấp tài khoản để sử dụng tính năng này</p>
        <a :href="payUrl" target="_blank" class="btn btn-pink text-white">Nâng cấp Premium</a>
      </div>
    </div>
    <div v-if="showPayMent" class="popup">
      <div @click="showPayMent = false" class="popup-overlay"></div>
      <div class="popup-inner p-5" style="max-width: 400px">
        <div class="popup-close" @click="showPayMent = false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <template v-if="!errorPayment">
          <h2 class="text-center">
            <b>Chúc mừng tài khoản của bạn đã được nâng cấp</b> <br>
          </h2>
          <div class="pt-4">
            <hr>
            <div class="d-flex justify-content-between">
              <p>Mã giao dịch:</p>
              {{this.$route.query.vnp_TransactionNo}}
            </div>
            <div class="d-flex justify-content-between mb-3">
              <p>Tổng tiền:</p>
              {{this.$route.query.vnp_Amount}}
            </div>
            <button @click="signOut" class="btn btn-pink w-100">
              Đăng nhập lại để trải nghiệm Premium
            </button>
          </div>
        </template>
      </div>
    </div>
    <div v-if="showPopupMedia" class="popup">
      <div @click="showPopupMedia = false" class="popup-overlay"></div>
      <div class="popup-inner p-5 text-center position-relative" style="max-width: 60vw; width: auto">
        <div class="popup-close" @click="showPopupMedia = false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="text-left mb-3" style="margin-top: -15px">
          <a target="_blank" :href="`${dataShow.Url}&UserId=${userInfo.UserId}&Token=${userInfo.Token}`" download class="btn btn-pink">
            <i class="fa fa-download"></i> Tải về máy
          </a>
        </div>
        <iframe v-if="dataShow.Type == 2"
          width="100%"
          height="400px"
          frameborder="0"
          allow="autoplay"
          :src="`${dataShow.Url.replace('http://', 'https://')}&UserId=${userInfo.UserId}&Token=${userInfo.Token}`"
        >
        </iframe>
        <img style="max-width: 100%" v-else :src="`${dataShow.Url.replace('http://', 'https://')}&UserId=${userInfo.UserId}&Token=${userInfo.Token}`" alt="">
        <p class="text-center mt-3">{{dataShow.Name}}</p>
      </div>
    </div>
    <Loading v-if="isLoading" />
  </div>
</template>

<script>
  import {objectToStringQuery} from '~/utils/route'
  import paymentError from "~/mixins/paymentError"
  import Loading from "~/components/base/Loading"
  import { debounce } from "debounce"
  export default {
    name: "index",
    components: {Loading},
    mixins: [
      paymentError
    ],
    data() {
      return {
        isLoading: false,
        userInfo: {},
        payUrl: '',
        showPayMent: false,
        PremiumContents: [],
        searchQuery: '',
        types: [
          {
            id: 1,
            name: 'Background',
            sub: 'Hình nền'
          },
          {
            id: 3,
            name: 'Illustrations',
            sub: 'Hình minh họa'
          },
          {
            id: 5,
            name: 'Shapes',
            sub: 'Biểu tượng'
          },
          {
            id: 4,
            name: 'Images',
            sub: 'Ảnh hoàn chỉnh'
          },
          {
            id: 2,
            name: 'Video',
            sub: 'Video'
          },
        ],
        dataShow: '',
        showPopupMedia : false,
        page: 0,
        perPage: 18,
        typeActive: 1
      }
    },
    mounted() {
      this.userInfo = JSON.parse(localStorage.user_info)
      const payload = {
        UserId: this.userInfo.UserId,
        Fullname: this.userInfo.Fullname,
        ReturnUrl: window.location.href
      }
      this.payUrl = 'http://quatangbaohiem.com/buy/upgrade-premium' + objectToStringQuery(payload)
      if(this.userInfo.Pro) this.getData(1)
    },
    created() {
      this.checkPaymentComplete()

    },
    methods: {
      showMedia(media) {
        this.dataShow = media
        this.showPopupMedia = true
      },
      checkPaymentComplete() {
        const responCode = this.$route.query.vnp_ResponseCode
        if (responCode) {
          if (responCode === '00') {
            this.showPayMent = true
          }
          else {
            this.$toast.error(
              this.paymentError.filter(e => e.code === responCode).pop().message,
              {duration: 5000}
            )
            this.$router.push(this.$route.path)
          }
        }
      },

      signOut() {
        this.$_removeDataSignIn()
        location.href = '/'
      },

      async getData(type) {
        this.isLoading = true
        this.page = 0
        const data = await this.$_callUserApiGet('premium/get', {Type: type}, [0, this.perPage])
        if (data.Reason) this.$toast.error(data.Reason, {duration: 5000})
        else {
          this.PremiumContents = data.Contents
          this.dataLoad = data.Contents.length
        }
        setTimeout(() => this.isLoading= false)
      },
      async loadMore() {
        this.isLoading = true
        this.page += 1
        const data = await this.$_callUserApiGet(
          'premium/get',
          {Type: this.typeActive},
          [this.page*this.perPage + 1, this.page*this.perPage + this.perPage]
        )
        if (data.Reason) this.$toast.error(data.Reason, {duration: 5000})
        else {
          this.PremiumContents = this.PremiumContents.concat(data.Contents)
          this.dataLoad = data.Contents.length
        }
        setTimeout(() => this.isLoading= false)
      },
      async search() {
        if (this.searchQuery !== '') {
          this.loading = true
          let payload = {
            Query: this.searchQuery,
            Type: this.typeActive
          }

          const data = await this.$_callUserApiGet('premium/search', payload, [0, this.perPage])
          if (data.Reason) this.$toast.error(data.Reason)
          else {
            this.PremiumContents = data.Contents
          }
          this.loading = false
          this.dataLoad = 0
        }
        else this.getData(this.typeActive)
      },

        debounceInput: debounce(function (e) {
            this.searchQuery = e.target.value;
            this.search()
        }, 800)
    }
  }
</script>
