<template>
  <div v-if="show" class="popup">
    <div @click="closePopup" class="popup-overlay"></div>
    <div class="popup-inner p-5" style="position: relative">
      <div class="popup-close" @click="closePopup">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <div class="nav-tabs-custom mb-4">
        <ul class="nav nav-tabs">
          <li @click="clickSignIn()" class="active mr-5"><a href="#tab_signin" data-toggle="tab">Đăng nhập</a></li>
          <li @click="clickSignUp()"><a href="#tab_signup" data-toggle="tab">Đăng ký tài khoản</a></li>
        </ul>
      </div>
      <div class="tab-content pt-4">
        <div v-if="showSignIn" class="tab-pane active" id="tab_signin">
          <SignIn/>
          <div class="text-center mt-5">
            <div class="text-line">
              <span>Hoặc</span>
            </div>
            <SocialLogin/>
          </div>
        </div>
        <div v-if="showSignUp" class="tab-pane active" id="tab_signup">
          <SignUp/>
          <div class="text-center mt-5">
            <div class="text-line">
              <span>Hoặc</span>
            </div>
            <SocialLogin/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import SignIn from "~/components/auth/SignIn"
  import SocialLogin from "~/components/auth/SocialLogin"
  import SignUp from "~/components/auth/SignUp"

  export default {
    name: "PopupAnth",
    components: {SignUp, SocialLogin, SignIn},
    data() {
      return {
        showSignIn: true,
        showSignUp: false,
      }
    },
    props: {
      show: {
        type: Boolean,
        default: false,
      }
    },
    methods: {
      closePopup() {
        this.$emit('close-popup')
      },
      clickSignIn() {
        this.showSignIn= true
        this.showSignUp= false
      },
      clickSignUp() {
        this.showSignIn= false
        this.showSignUp= true
      }
    }
  }
</script>

<style lang="scss">
  .login-social {
    .btn {
      width: 300px;
      display: block;
      margin: auto;
      margin-top: 1.5rem;
      @media (max-width: 640px) {
        width: 100%;
      }
    }
  }
</style>
