<template>
  <div>
    <div class="wapper-header pb-0">
      <h3 class="text-pink wapper-header-title">
        <b>Chỉnh sửa thông tin</b>
      </h3>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li>
            <nuxt-link to="/me">Thông tin cá nhân</nuxt-link>
          </li>
          <li class="active">
            Thành viên nhóm
          </li>
        </ul>
      </div>
    </div>
    <div class="wrapper-body position-relative">
      <div>
        <div class="tool-bar d-flex justify-content-between align-items-center bg-white p-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="input-icon">
              <i class="fa fa-search"></i>
              <input
                @keyup="searchContracts"
                v-model="searchQuery"
                v-debounce="750"
                style="width: 300px"
                class="mr-3"
                type="text"
                placeholder="Tìm theo tên hoặc số điện thoại"
              />
            </div>
          </div>
          <div v-if="totalPage > 1" class="pull-right">
            <b-pagination-nav
              ref="pagination"
              :v-model="page"
              :link-gen="linkGen"
              :number-of-pages="totalPage"
              use-router
            />
          </div>
        </div>
        <div v-if="employees[page-1] && employees[page-1].length" class="bg-white mt-4">
          <table class="table table-hover table-list">
            <thead>
            <tr class="text-uppercase ">
              <th>TÊN THÀNH VIÊN</th>
              <th>CẤP BẬC</th>
              <th>SỐ ĐIỆN THOẠI</th>
              <th>EMAIL</th>
              <th>FACEBOOK</th>
              <th>CÔNG TY</th>
              <th class="text-center" width="150px">HÀNH ĐỘNG</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(i,key) in employees[page-1]" :key="key">
              <td>
                <nuxt-link :to="`team/${i.UserId}`" class="d-flex align-items-center">
                  <div
                    class="bg-img circle mr-3"
                    style="width: 40px; height: 40px"
                    :style="{ 'background-image': 'url(' + i.Avatar + ')' }">
                  </div>
                  {{i.UserId}} - {{i.Fullname}}
                </nuxt-link>
              </td>
              <td>{{checkPositionName(i.PositionId)}}</td>
              <td>{{i.Phone}}</td>
              <td>{{i.Email}}</td>
              <td>{{i.FacebookId}}</td>
              <td>{{i.CompanyName}}</td>
              <td width="150px" class="text-center">
                <a v-if="!i.ConnectStatus" @click="connectAccount(i.UserId)" class="btn btn-pink text-white">Kết nối</a>
                <a v-else @click="connectAccount(i.UserId)" class="btn btn-pink text-white">Đang chờ xác nhận</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div v-if="employees" class="text-center">
        <EmptyData v-if="!employees.length && !loading" page="ThanhVienNhom"/>
      </div>
      <Loading v-if="loading"/>
    </div>
  </div>
</template>

<script>
  import pageNavigation from "~/mixins/pageNavigation"
  import EmptyData from "~/components/EmptyData"
  import Loading from "~/components/base/Loading"
  import debounce from 'v-debounce'

  export default {
    name: "index",
    directives: {
      debounce,
    },
    components: {Loading, EmptyData},
    mixins: [
      pageNavigation
    ],
    data() {
      return {
        loading: false,
        data: [],
        employees: [],
        perPage: 15,
        page: 1,
        totalPage: 1,
        searchQuery: '',
        positionList: [],
        contacts: [],
      }
    },
    mounted() {
      this.positionList = JSON.parse(localStorage.common).PositionList
    },
    created() {
      this.getTeam()
      this.setPage()
      this.getContact()
    },
    watch: {
      '$route.query': 'setPage'
    },
    methods: {
      async getContact() {
        const data = await this.$_callUserApiGet('user/contacts',[], [0,1000])
        this.contacts = data.Contacts
      },
      checkPositionName(positionId) {
        const data = this.positionList.find( e => e.PositionId === positionId)
        if(data) return data.PositionName
        else return positionId
      },
      setPage() {
        this.$route.query.page ? this.page = this.$route.query.page : this.page = 1
      },
      async connectAccount(id){
        const data = await this.$_callUserApiGet('contact/create', {
          ContactId: id,
          Status: 0,
          Relationship: 0
        }, null)
        if(data.Reason) {
          this.$toast.error(data.Reason,{duration: 5000})
        }
        else {
          this.$toast.success('Đã gửi yêu cầu kết nối vui lòng đợi xác nhận',{duration: 6000})
        }
      },
      async getTeam() {
        this.loading = true
        const data = await this.$_callUserApiGet('user/employees', {}, null)
        this.data = data.Employees
        if(data && data.Employees) {
          this.employees = this.chunkArray(data.Employees, this.perPage)
          this.totalPage = this.employees.length
        }
        setTimeout(()=> this.loading = false)
      },
      async searchContracts() {
        const result = this.data.filter(item => {
          return item.Fullname.toLowerCase()
            .indexOf(this.searchQuery.toLowerCase()) > -1;
        });
        this.employees = this.chunkArray(result, this.perPage)
        this.totalPage = this.employees.length
      },

      chunkArray(myArray, chunk_size){
        let index = 0;
        let arrayLength = myArray.length;
        let tempArray = [];

        for (index = 0; index < arrayLength; index += chunk_size) {
          let myChunk = myArray.slice(index, index+chunk_size);
          tempArray.push(myChunk);
        }
        return tempArray;
      }
    }
  }
</script>
