<template>
  <div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <small>Tên sản phẩm</small>
        <input
          v-model="payload.ProductName"
          v-validate="'required'"
          class="form-control mt-2"
          type="text"
          name="productName"
        >
        <small class="text-danger">{{ veeErrors.first('productName') }}</small>
      </div>
      <div class="col-sm-6 mb-4">
        <small>Số hợp đồng</small>
        <input
          v-model="payload.ContractNo"
          v-validate="'required'"
          class="form-control mt-2"
          type="text"
          name="contractNo"
        >
        <small class="text-danger">{{ veeErrors.first('contractNo') }}</small>
      </div>
      <div class="col-sm-6 mb-4">
        <small>Số tiền bảo hiểm</small>
        <input
          v-model="payload.ContractValue"
          v-validate="'required'"
          class="form-control mt-2"
          type="number"
          name="contractValue"
        >
        <small class="text-danger">{{ veeErrors.first('contractValue') }}</small>
      </div>
      <div class="col-sm-6 mb-4">
        <small>Phí định kỳ</small>
        <input
          v-model="payload.CycleCharge"
          v-validate="'required'"
          class="form-control mt-2"
          type="number"
          name="cycleCharge"
        >
        <small class="text-danger">{{ veeErrors.first('cycleCharge') }}</small>
      </div>
      <div class="col-sm-6 mb-4">
        <small>Ngày hiệu lực</small>
        <el-date-picker
          v-model="payload.EffectiveDate"
          type="date"
          format="dd-MM-yyyy"
          value-format="yyyy-MM-dd"
          class="w-100 mt-2"
        />
        <small class="text-danger">{{ veeErrors.first('effectiveDate') }}</small>
      </div>
      <div class="col-sm-6 mb-4">
        <small>Ngày đáo hạn</small>
        <el-date-picker
          v-model="payload.TerminationDate"
          v-validate="'required'"
          type="date"
          format="dd-MM-yyyy"
          value-format="yyyy-MM-dd"
          class="w-100 mt-2"
        />
        <small class="text-danger">{{ veeErrors.first('terminationDate') }}</small>
      </div>
      <div class="col-sm-6 mb-4">
        <small>Thời hạn Đóng phí</small>
        <div class="d-flex">
          <input
            v-model="payload.BillingDuration"
            v-validate="'required'"
            class="form-control mt-2"
            type="number"
            name="billingDuration"
          >
          <select v-model="payload.BillingDurationUnit" style="width: 150px" class="form-control mt-2 ml-2">
            <option value="0">Tháng</option>
            <option value="1">Năm</option>
          </select>
        </div>
        <small class="text-danger">{{ veeErrors.first('billingDuration') }}</small>
      </div>
      <div v-if="!isCreated" class="col-sm-6 mb-4">
        <small>Ngày nộp phí tiếp theo</small>
        <input
          v-model="payload.NextBillingDate"
          disabled
          v-validate="'required'"
          class="form-control mt-2"
          type="date"
          name="nextBillingDate"
        >
        <small class="text-danger">{{ veeErrors.first('nextBillingDate') }}</small>
      </div>

      <div class="col-sm-6 mb-4">
        <small>Định kỳ nộp phí</small>
        <select
          v-model="payload.BillingCycle"
          class="form-control mt-2"
          type="text"
          name="billingCycle"
        >
          <option value="0"> Đóng một lần</option>
          <option value="1"> Tháng</option>
          <option value="2"> Quý</option>
          <option value="3"> Nửa Năm</option>
          <option value="4"> Năm</option>
        </select>
        <small class="text-danger">{{ veeErrors.first('billingCycle') }}</small>
      </div>
      <div class="col-sm-6 mb-4">
        <small>Loại khách hàng</small>
        <select
          v-model="payload.CustomerType"
          class="form-control mt-2"
          type="text"
          name="customerType"
        >
          <option value="0"> Cả 2</option>
          <option value="1"> Người được bảo hiểm</option>
          <option value="2"> Người đóng bảo hiểm</option>
        </select>
        <small class="text-danger">{{ veeErrors.first('customerType') }}</small>
      </div>
      <div class="col-sm-12 mb-4">
        <small>Ghi chú</small>
        <textarea
          v-model="payload.Note"
          class="form-control mt-2"
          type="text"
          rows="3"
        />
      </div>

      <div class="text-center col-sm-12">
        <button @click="reloadLocation" class="btn btn-default mr-4">Hủy</button>
        <button @click="checkContent" class="btn btn-pink px-5">
          Lưu thông tin
        </button>
        <div v-if="showPopup" class="popup">
          <div @click="showPopup" class="popup-overlay"></div>
          <div class="popup-inner p-5 text-center">
            <h3 class="mb-5">Bạn có muốn lưu thông tin hợp đồng ???</h3>
            <button @click="reloadLocation" class="btn btn-default mr-4">Hủy</button>
            <button @click="saveInfo" class="btn btn-pink">Lưu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    DatePicker as ElDatePicker,
  } from 'element-ui'

  export default {
    name: "ContractInsert",
    inject: ['$validator'],
    components: {
      ElDatePicker
    },
    props: {
      isCreated: {
        type: Boolean,
        default: true,
      },
      info: {
        type: Object | Array,
        default: null
      }
    },
    watch: {
      'info': function () {
        this.updateData()
      }
    },
    data() {
      return {
        payload: {
          CustomerType: 0,
          BillingCycle: 0,
          BillingDuration: 1,
          BillingDurationUnit: 1,
        },
        showPopup: false,
      }
    },
    computed: {
      customerId() {
        return this.$route.params.id
      },
    },
    created() {
      this.updateData()
    },

    methods: {
      updateData() {
        if (!this.isCreated && this.info) {
          this.payload = this.info
        }
      },
      reloadLocation() {
        location.reload()
      },
      async checkContent() {
        if (!await this.$validator.validateAll()) return
        this.showPopup = true
      },
      async saveInfo() {
        if (!await this.$validator.validateAll()) return
        let apiUrl = 'contract/update'
        if (this.isCreated) apiUrl = 'contract/create'
        this.payload.CustomerId = this.customerId
        this.payload.EffectiveDate = this.payload.EffectiveDate + " 00:00:00"
        this.payload.NextBillingDate = this.payload.NextBillingDate + " 00:00:00"
        this.payload.TerminationDate = this.payload.TerminationDate + " 00:00:00"
        const data = await this.$_callUserApiGet(apiUrl, this.payload)
        setTimeout(() => {
          this.showPopup = false
          if (data.Result) {
            this.$toast.success('Lưu thông tin hợp đồng thành công', {duration: 5000})
            setTimeout(() => {
              this.reloadLocation()
            }, 1000)
          }
          else {
            this.$toast.error(data.Reason, {duration: 5000})
          }
        })
      },

      formatPrice() {
        this.payload.ContractValue = Intl.NumberFormat('vi-VN', {maximumSignificantDigits: 20}).format(this.payload.ContractValue)
      },
    }
  }
</script>
