<template>
  <div>
    <div class="row">
      <div class="col-sm-6 mb-4">
        <small><i class="text-pink">*</i> Họ và tên</small>
        <input
          v-model="payload.Fullname"
          v-validate="'required'"
          class="form-control mt-2"
          type="text"
          name="fullname"
        >
        <small class="text-danger">{{ veeErrors.first('fullname') }}</small>
      </div>
      <div class="col-sm-6 mb-4">
        <small> Số CMTND/Thẻ căn cước</small>
        <input
          v-model="payload.NationalId"
          class="form-control mt-2"
          type="text"
        >
      </div>
      <div class="col-md-6">
        <small> Ngày sinh</small>
        <el-date-picker
          v-model="payload.Birthday"
          type="date"
          format="yyyy-MM-dd"
          value-format="yyyy-MM-dd HH:mm:ss"
          class="w-100 mt-2"
        />
      </div>
      <div class="col-sm-6 mb-4">
        <small><i class="text-pink">*</i> Số điện thoại</small>
        <input
          v-model="payload.Phone"
          v-validate="'required'"
          class="form-control mt-2"
          type="text"
          name="phone"
        >
        <small class="text-danger">{{ veeErrors.first('phone') }}</small>
      </div>
      <div class="col-sm-6 mb-4">
        <small>Email</small>
        <input
          v-model="payload.Email"
          class="form-control mt-2" type="text"
          name="email"
        >
      </div>
      <div class="col-sm-6 mb-4">
        <small>Facebook</small>
        <input
          v-model="payload.Facebook"
          class="form-control mt-2"
          type="text"
        >
      </div>
      <div class="col-sm-12 mb-4">
        <small>Địa chỉ</small>
        <input
          v-model="payload.Address"
          class="form-control mt-2"
          type="text"
          name="address"
        >
      </div>
      <div class="col-sm-12 mb-4">
        <small>Ghi chú</small>
        <textarea
          v-model="payload.Note"
          class="form-control mt-2"
          type="text"
          rows="3"
        />
      </div>
      <!--<div v-if="showAsync" class="col-sm-12 mb-4 d-flex">-->
        <!--<small class="mr-3">Đồng bộ dữ liệu với công ty bảo hiểm: ({{payload.Sync ? 'đang bật' : 'đang tắt'}})</small>-->
        <!--<label class="switch">-->
          <!--<input v-model="payload.Sync" type="checkbox">-->
          <!--<span class="slider round"></span>-->
        <!--</label>-->
      <!--</div>-->
      <div class="text-center col-sm-12 mt-4">
        <button @click="checkContent" class="btn btn-pink px-5">
          Lưu thông tin
        </button>
        <div v-if="showPopup" class="popup">
          <div @click="showPopup" class="popup-overlay"></div>
          <div class="popup-inner p-5 text-center">
            <h3 class="mb-5">Bạn có muốn lưu thông tin khách hàng ???</h3>
            <button @click="reloadLocation" class="btn btn-default mr-4">Hủy</button>
            <button @click="saveInfo" class="btn btn-pink">Lưu</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    DatePicker as ElDatePicker,
  } from 'element-ui'
  export default {
    name: "CustomerInsert",
    inject: ['$validator'],
    components: {
      ElDatePicker
    },
    props: {
      isCreated: {
        type: Boolean,
        default: true,
      },
      showAsync: {
        type: Boolean,
        default: true,
      },
      info: {
        type: Object|Array,
        default: null
      }
    },

    watch: {
      'info': 'updateData'
    },

    data() {
      return {
        payload: {
          Sync: 1,
        },
        showPopup: false,
      }
    },

    created() {
      this.updateData()
    },

    methods: {
      updateData() {
        if(!this.isCreated && this.info) {
          this.payload = this.info
        }
      },
      reloadLocation(){
        location.reload()
      },

      async checkContent() {
        if (!await this.$validator.validateAll()) return
        this.showPopup = true
      },

      async saveInfo() {
        if (!await this.$validator.validateAll()) return
        let apiUrl = 'customer/update'
        if( this.isCreated ) apiUrl = 'customer/create'
        // this.payload.Sync ? this.payload.Sync = 1 : this.payload.Sync = 0
        this.payload.Sync = 0
        const data = await this.$_callUserApiGet(apiUrl, this.payload)
        setTimeout(() => {
          this.showPopup = false
          if (data.Result) {
            this.$toast.success('Lưu thông tin khách hàng thành công', {duration: 5000})
            setTimeout(() => { this.reloadLocation() }, 1000)
          }
          else {
            this.$toast.error(data.Reason, {duration: 5000})
          }
        })
      },
    }
  }
</script>
