<template>
  <div>
    <div class="wapper-header pb-2">
      <h3 class="text-pink wapper-header-title">Bản tin bảo hiểm</h3>
    </div>
    <div class="wrapper-body position-relative">
      <div v-if="newInfo" class="bg-white p-5">
        <div class="row">
          <div class="col-md-8">
            <h2>{{newInfo.Title}}</h2>
            <small>{{newInfo.CreatedTime}}</small>
            <div class="mb-4 mt-4">
              <FbLikeShare />
            </div>
            <div v-html="newInfo.Content"></div>
          </div>
          <div class="col-md-4">
            <FbComment />
          </div>
        </div>
      </div>
      <Loading v-if="loading" />
    </div>
  </div>
</template>

<script>
  import Loading from "~/components/base/Loading"
  import FbComment from '~/components/facebook/FbComment'
  import FbLikeShare from '~/components/facebook/FbLikeShare'
  export default {
    name: "NewsInfo",
    components: {FbLikeShare, FbComment, Loading},
    data() {
      return {
        newInfo: [],
        loading: false
      }
    },
    computed: {
      newsID() {
        return this.$route.params.id
      },
      url() {
        return window.location.href
      }
    },
    created(){
      this.getData()
    },
    methods: {
      async getData() {
        this.loading = true
        const data = await this.$_callApiGet('news/detail',{ NewsId : this.newsID })
        this.newInfo = data.News
        setTimeout(() => this.loading = false)
      }
    }
  }
</script>

