<template>
  <div>
    <div class="wapper-header pb-0">
      <h3 class="text-pink wapper-header-title">Bản tin bảo hiểm</h3>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li
            v-for="(item, key) in categories"
            @click="getData(item.CategoryId)"
            :class="{ active: key === 0 }"
          >
            <a :href="`#${key}`" data-toggle="tab">{{item.CategoryName}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="wrapper-body position-relative">
      <div class="d-flex justify-content-end mb-5">
        <div class="input-icon">
          <i class="fa fa-search"></i>
          <input v-on:input="debounceInput" placeholder="Tìm tên, nội dung bài viết" type="text" style="width: 300px;">
        </div>
      </div>
      <div class="row">
        <div v-for="i in news" :key="i.key" class="col-md-6">
          <nuxt-link :to="`news/${i.NewsId}`">
            <div class="course-card course-card--sm d-flex">
              <div
                class="course-card--img"
                :style="{ 'background-image': 'url(' + i.ImageUrl.replace('http://', 'https://') + ')' }"></div>
              <div class="course-card--body d-flex justify-content-between flex-column">
                <div class="course-card--txt">
                  <h3 class="course-card--title">
                    {{i.Title}}
                  </h3>
                  <!--<div class="course-card&#45;&#45;des">{{i.Description}}</div>-->
                  <div class="d-flex">
                    <i class="fa fa-user"></i>
                    <p>
                      {{i.Author ? i.Author : 'Quà tặng bảo hiểm'}}<br>
                    </p>
                  </div>
                  <div class="d-flex">
                    <i class="fa fa-clock-o"></i>
                    <p>
                      {{dateFormatDMY(i.CreatedTime)}}
                    </p>
                  </div>
                </div>
                <div>
                  <span class="pull-right text-info"><b>Xem chi tiết ></b></span>
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
      <div v-if="!isEnd" @click="getData(currenId)" class="text-center">
        <button class="btn btn-pink">Xem thêm</button>
      </div>
      <Loading v-if="loading"/>
      <div v-if="news">
        <EmptyData v-if="!news.length && !loading" page="TinTuc"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Loading from "~/components/base/Loading"
  import EmptyData from "~/components/EmptyData"
  import dateFormat from "~/mixins/dateFormat"
  import { debounce } from "debounce"

  export default {
    name: "index",
    mixins: [
      dateFormat
    ],
    components: {EmptyData, Loading},
    data() {
      return {
        news: [],
        loading: false,
        page: 0,
        perPage: 12,
        isEnd: false,
        currenId: 0,
        searchQuery: ''
      }
    },

    computed: {
      categories() {
        return JSON.parse(localStorage.common).NewsCategoryList
      }
    },
    created() {
      this.getData(this.categories[0].CategoryId)
    },
    methods: {
      async getData(id) {
        this.searchQuery = ''
        if(this.currenId !== id)  {
          this.currenId = id
          this.page = 0
          this.news = []
          this.isEnd = false
        }
        this.loading = true
        let StartIndex = 0
        StartIndex = this.page * this.perPage
        const pageSection = [StartIndex, this.perPage]
        const data = await this.$_callUserApiGet('news/get',{CategoryId: id}, pageSection)
        this.news = this.news.concat(data.News)
        this.page += 1
        if(data.News && data.News.length < this.perPage) this.isEnd = true
        setTimeout(() => this.loading = false)
      },

      async search() {
        this.isEnd = true
        if (this.searchQuery !== '') {
          this.loading = true
          let payload = {
            Query: this.searchQuery,
            CategoryId: this.currenId,
          }

          const data = await this.$_callUserApiGet('news/search', payload, [0, this.perPage])
          if (data.Reason) this.$toast.error(data.Reason)
          else {
            this.news = data.News
          }
          this.loading = false
        }
        else {
            this.page = 0
            this.getData(this.currenId)
        }
      },

        debounceInput: debounce(function (e) {
            this.searchQuery = e.target.value;
            this.search()
        }, 800)
    }
  }
</script>
