<template>
  <div>
    <div class="wapper-header pb-0">
      <h3 class="text-pink wapper-header-title">
        <b>Chỉnh sửa thông tin</b>
      </h3>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li>
            <nuxt-link to="/me">Thông tin cá nhân</nuxt-link>
          </li>
          <li class="active">
            Thành viên nhóm
          </li>
        </ul>
      </div>
    </div>
    <div class="wrapper-body position-relative">
      <div>
        <div class="tool-bar d-flex justify-content-between align-items-center bg-white p-3">
          <div class="d-flex justify-content-between align-items-center">
            <div class="input-icon">
              <i class="fa fa-search"></i>
              <input
                @keyup="searchContracts"
                v-model="searchQuery"
                v-debounce="750"
                style="width: 300px"
                class="mr-3"
                type="text"
                placeholder="Tìm theo tên hoặc số điện thoại"
              />
            </div>
          </div>
          <div v-if="totalPage > 1" class="pull-right">
            <b-pagination-nav
              ref="pagination"
              :v-model="page"
              :link-gen="linkGen"
              :number-of-pages="totalPage"
              use-router
            />
          </div>
        </div>
        <div class="bg-white mt-4 position-relative">
          <table class="table table-hover table-list">
            <thead>
            <tr class="text-uppercase ">
              <th>TÊN THÀNH VIÊN</th>
              <!--<th>CẤP BẬC</th>-->
              <th>SỐ ĐIỆN THOẠI</th>
              <th>EMAIL</th>
              <th>FACEBOOK</th>
              <th>CÔNG TY</th>
              <th>Trạng thái</th>
              <th class="text-center" width="150px">HÀNH ĐỘNG</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(i,key) in contactsInvite" :key="key">
              <td>
                <div class="d-flex align-items-center">
                  <div
                    class="bg-img circle mr-3"
                    style="width: 40px; height: 40px"
                    :style="{ 'background-image': 'url(' + i.Avatar + ')' }">
                  </div>
                  {{i.Fullname}}
                </div>
              </td>
              <!--<td>{{checkPositionName(i.PositionId)}}</td>-->
              <td>{{i.Phone}}</td>
              <td>{{i.Email}}</td>
              <td>{{i.FacebookId}}</td>
              <td>{{i.CompanyName}}</td>
              <td>
                <div class="text-green" v-if="i.Status">Đã kết nối</div>
                <div class="text-danger" v-else="!i.Status">Đã gửi yêu cầu kết nối</div>
              </td>
              <td width="150px" class="text-center">
                <a @click="removeConnectAccount(i.UserId, i.Fullname)" class="btn btn-default">Hủy kết nối</a>
                <!--<template v-else>-->
                  <!--<a @click="connectAccount(i.UserId)" class="btn btn-pink text-white">Xác nhận</a>-->
                <!--</template>-->
              </td>
            </tr>
            <template v-if="contacts && contacts.length > 0">
              <tr v-for="(i,key) in contacts" :key="key">
                <td>
                  <div class="d-flex align-items-center">
                    <div
                      class="bg-img circle mr-3"
                      style="width: 40px; height: 40px"
                      :style="{ 'background-image': 'url(' + i.Avatar + ')' }">
                    </div>
                    {{i.Fullname}}
                  </div>
                </td>
                <!--<td>{{checkPositionName(i.PositionId)}}</td>-->
                <td>{{i.Phone}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.FacebookId}}</td>
                <td>{{i.CompanyName}}</td>
                <td>Chưa kết nối</td>
                <td width="150px" class="text-center">
                  <a @click="connectAccount(i.UserId, i.FullName)" class="btn btn-pink text-white">Kết nối</a>
                </td>
            </tr>
            </template>
            </tbody>
          </table>
          <Loading v-if="loading"/>
        </div>
      </div>
      <div v-if="!contactsInvite.length && !contacts.length" class="text-center">
        <EmptyData v-if="!loading" page="ThanhVienNhom"/>
      </div>
      <div v-else-if="contacts && contacts.length == 0 && searchQuery !== ''" class="text-center pt-5">
        Không có kết quả tìm kiếm
      </div>
    </div>
  </div>
</template>

<script>
  import pageNavigation from "~/mixins/pageNavigation"
  import EmptyData from "~/components/EmptyData"
  import Loading from "~/components/base/Loading"
  import debounce from 'v-debounce'

  export default {
    name: "ContactList",
    directives: {
      debounce,
    },
    components: {Loading, EmptyData},
    mixins: [
      pageNavigation
    ],
    data() {
      return {
        loading: false,
        data: [],
        employees: [],
        perPage: 15,
        page: 1,
        totalPage: 1,
        searchQuery: '',
        positionList: [],
        contacts: [],
        contactsInvite: []
      }
    },
    mounted() {
      this.positionList = JSON.parse(localStorage.common).PositionList
    },
    created() {
      this.getContactInvite()
    },
    methods: {
      async getContactInvite() {
        const data = await this.$_callUserApiGet('user/contacts', [], [0, 1000])
        this.contactsInvite = data.Contacts
      },

      async connectAccount(id, name) {
        if (confirm('Bạn có kết nối với: ' + name + ' ?')) {
          const data = await this.$_callUserApiGet('contact/create', {
            ContactId: id,
            Status: 0,
            Relationship: 0
          }, null)
          if (data.Reason) {
            this.$toast.error(data.Reason, {duration: 5000})
          }
          else {
            this.$toast.success('Đã gửi yêu cầu kết nối vui lòng đợi xác nhận', {duration: 6000})
            this.getContactInvite()
            this.searchContracts()
          }
        }
      },

      async removeConnectAccount(id, name) {
        if (confirm('Bạn có muốn hủy kết nối với: ' + name + ' ?')) {
          const data = await this.$_callUserApiGet('contact/delete', {
            ContactId: id,
          }, null)
          if (data.Reason) {
            this.$toast.error(data.Reason, {duration: 5000})
          }
          else {
            this.$toast.success('Đã hủy kết nối', {duration: 6000})
            this.getContactInvite()
            this.searchContracts()
          }
        }
      },
      async searchContracts() {
        if (this.searchQuery !== '') {
          this.loading = true
          let payload = {
            Query: this.searchQuery
          }

          const data = await this.$_callUserApiGet('contact/search', payload, [0, 30])
          if (data.Reason) this.$toast.error(data.Reason)
          else {
            // this.contacts = data.Contacts.filter(e => {
            //   const data = this.contactsInvite.filter(i => i.UserId === e.UserId)
            //   if (data.length) return false
            //   return true
            // })
            this.contacts = data.Contacts.filter(e => e.Phone == this.searchQuery)
            console.log(this.contacts)
          }
          this.loading = false
        }
        else this.contacts = []
      },
      // checkPositionName(positionId) {
      //   const data = this.positionList.find( e => e.PositionId === positionId)
      //   if(data) return data.PositionName
      //   else return positionId
      // },
    }
  }
</script>
