.btn {
  font-size: 1.6rem;
  padding: .5rem 1.6rem;
  border-radius: 3px;
  &-radius {
    &--50 {
      border-radius: 50px;
    }
  }

  &-white {
    background-color: #fff;
    color: #222222;
  }

  &-pink {
    //background: #EE84B7;
    background: #c12466;
    color: #fff !important;
  }

  &-yellow {
    //background: #EE84B7;
    background: #FFF000;
    color: #585858 !important;
  }

  &-gray {
    background-color: #939393;
    border-radius: 3px;
    color: #ffffff !important;
    &:hover, &:active, &:focus {
      color: #ffffff;
    }
    i {
      margin-right: 8px;
    }
  }
}
