.checkbox-custom {
  display: block;
  height: 24px;
  position: relative;
  padding-left: 35px;
  padding-top: 4px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      border: 2px solid #c12466;
      &:after {
        display: block;
      }
    }
  }
  &:hover {
    input ~ .checkmark {
      border: 2px solid #c12466;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border: 2px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 3px;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 6px;
      height: 12px;
      border: solid #c12466;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &.checkbox-red {
    input {
      &:checked ~ .checkmark {
        border: 2px solid #D22525;
      }
    }

    &:hover {
      input ~ .checkmark {
        border: 2px solid #D22525;
      }
    }

    .checkmark {
      border-color: #D22525;
      &:after {
        border: solid #D22525;
        border-width: 0 2px 2px 0;
      }
    }
  }

  &.checkbox-blue {
    input {
      &:checked ~ .checkmark {
        border: 2px solid #3978D6;
      }
    }

    &:hover {
      input ~ .checkmark {
        border: 2px solid #3978D6;
      }
    }

    .checkmark {
      border-color: #3978D6;
      &:after {
        border: solid #3978D6;
        border-width: 0 2px 2px 0;
      }
    }
  }

  &.checkbox-yellow {
    input {
      &:checked ~ .checkmark {
        border: 2px solid #f8a121;
      }
    }

    &:hover {
      input ~ .checkmark {
        border: 2px solid #f8a121;
      }
    }

    .checkmark {
      border-color: #f8a121;
      &:after {
        border: solid #f8a121;
        border-width: 0 2px 2px 0;
      }
    }
  }
  &.checkbox-purple {
    input {
      &:checked ~ .checkmark {
        border: 2px solid #BC1EBF;
      }
    }

    &:hover {
      input ~ .checkmark {
        border: 2px solid #BC1EBF;
      }
    }

    .checkmark {
      border-color: #BC1EBF;
      &:after {
        border: solid #BC1EBF;
        border-width: 0 2px 2px 0;
      }
    }
  }
  &.checkbox-green {
    input {
      &:checked ~ .checkmark {
        border: 2px solid #43AF0F;
      }
    }

    &:hover {
      input ~ .checkmark {
        border: 2px solid #43AF0F;
      }
    }

    .checkmark {
      border-color: #43AF0F;
      &:after {
        border: solid #43AF0F;
        border-width: 0 2px 2px 0;
      }
    }
  }
}
