.course-card {
  $p: '.course-card';
  cursor: pointer;
  min-height: 23rem;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  transition: all .5s;
  &--sm {
    min-height: 20rem;
  }
  &:hover {
    transition: all .5s;
  }
  &--img {
    width: 45%;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &-before {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .5s;
      opacity: 1;
      background-color: #0000006d;
      &:hover {
        .fa {
          opacity: 1;
        }
      }
      .fa {
        font-size: 40px;
        color: #EE84B7;
        opacity: .6;
      }
    }
  }
  &--body {
    padding: 2rem 2rem;
    width: 55%;
  }
  &--title {
    font-size: 1.6rem;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
  }
  &--des {
    height: 40px;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  &--txt {
    color: #2C2E43;
    margin-bottom: 1.5rem;
    i {
      margin-right: 15px;
      margin-top: 2px;
      color: #D0D0D0;
    }
    span {
      color: #B3B3B3;
    }
  }
  &--price {
    min-height: 45px;
  }
  &.img-small {
    #{$p}--img {
      width: 25%;
    }
    #{$p}--body {
      width: 75%;
    }
    #{$p}--des {
      height: auto;
    }
  }
  @media (max-width: 640px) {
    flex-direction: column;
    &--img {
      width: 100% !important;
      height: 180px;
    }
    &--body {
      width: 100%;
    }
  }
}
