.fc {
  &-past {
    background-color: #f5f5f5;
  }
  &-unthemed {
    td.fc-day.fc-today {
      background-color: #ffffff;
    }
  }
  &-button {
    background-color: transparent !important;
    border: none !important;
    color: #000000 !important;
    &:disabled {
      opacity: .2;
    }
    &:focus {
      border: none !important;
      box-shadow: none !important;
    }

    &-active {
      background-color: #c12466 !important;
      border: none !important;
      color: #ffffff !important;
    }
  }

  &-toolbar {
    h2 {
      color: #c12466 !important;
    }
  }

  &-icon {
    color: #c12466 !important;
  }

  &-event {
    background-color: transparent;
    border: none;
    position: relative;
    font-size: 12px;
    padding: 5px;
    color: #fff !important;

    .fc-title {
      font-weight: bold !important;
      margin-left: 15px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 5px;
      top: 10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #ffffff;
    }

    &.green {
      background-color: #43AF0F;
    }

    &.blue {
      background-color: #3978D6;
    }

    &.yellow {
      background-color: #f8a121;
    }

    &.purple {
      background-color: #BC1EBF;
    }

    &.red {
      background-color: #D22525;
    }

    .fc-content {
      display: flex;
      flex-direction: column-reverse;

      &:hover {
        white-space: normal;
      }
    }

    &-container {
      &:hover {
        z-index: 99999;
      }
    }
  }

  &-time {
    font-weight: normal !important;
    opacity: .8;
  }

  &-title {
    font-weight: normal !important;
  }

  &-unthemed {
    td.fc-today {
      background-color: #eeeeee;
    }
  }

  &-day {
    &-header {
      font-size: 12px;
      font-weight: normal;
      border-bottom: none !important;
    }

    &-top {
      text-align: center;
    }

    &-number {
      float: inherit !important;
      font-size: 12px;
    }
  }

  &-head {
    &-container {
      border-bottom: none !important;

      th {
        border-bottom: none !important;
        padding-top: 5px;
      }
    }
  }

  &-body {
    & > tr > td {
      border-top: none !important;
    }

    .fc-row:first-child {
      .fc-content-skeleton td {
        border-top: none !important;
      }
    }
  }

  &-time-grid-event {
    &.fc-event {
      width: 100%;
      display: block;
      background-color: #3978D6;
      padding-left: 0;
      bottom: auto !important;
      box-shadow: 0 0 4px #0000006d;

      &:hover {
        z-index: 9999 !important;
      }

      &.green {
        background-color: #43AF0F;
      }

      &.blue {
        background-color: #3978D6;
      }

      &.yellow {
        background-color: #f8a121;
      }

      &.purple {
        background-color: #BC1EBF;
      }

      &.red {
        background-color: #D22525;
      }

      .fc-content {
        display: flex;
        flex-direction: column-reverse;
      }

      &:before {
        display: none;
      }

      .fc-content {
        color: #ffffff;
        padding: 5px;
      }
    }
  }
}
