.lesson {
  &-item {
    padding: 1.5rem;
    border-bottom: solid thin #E4E4E4;
    cursor: pointer;
    &:last-child {
      border: none;
    }
    &:hover {
      i {
        color: #EE84B7;
      }
    }
    i {
      color: #cccccc;
    }
  }
}
