.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  &-overlay {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000080;
  }
  &-inner {
    background-color: #fff;
    min-width: 300px;
    max-height: 95vh;
    overflow-y: auto;
    margin: auto;
    width: 40%;
    z-index: 2;
    position: relative;

    @media (max-width: 768px) {
      width: 90%;
    }

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #d8d8d8;
    }
  }

  &-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    z-index: 2;
    border-bottom-left-radius: 50%;
    background-color: #EE84B7;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
