:root {
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  input, textarea, select {
    font-size: 1.3rem !important;
    border-radius: .5rem !important;
    min-height: 35px !important;
  }
}

@import
  "vendor/element-ui",
  "button",
  "table",
  "course-card",
  "lesson",
  "checkbox",
  "popup";

.text-line {
  position: relative;
  z-index: 1;
  span {
    background-color: #fff;
    padding: 5px 15px;
  }
  &:after {
    position: absolute;
    width: 100%;
    content: "";
    height: 1px;
    background-color: #BDBDBD;
    top: 50%;
    left: 0;
    z-index: -1;
  }
}

.pointer {
  cursor: pointer;
}

.alert {
  &--danger {
    background-color: #ff000030;
    border: solid thin #ff9393;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: red;
    font-size: 1.2rem;
    margin: 1rem 0 ;
  }
}

.form-control {
  &:focus {
    border-color: #EE84B7;
  }
}

.user {
  &-avatar {
    background-color: #eeeeee;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
  }
}

.toasted-container {
  z-index: 99999 !important;
}

.progress {
  height: .5rem;
  border-radius: 5rem;
  &-bar {
    background-color: #9D3D6F;
    border-radius: 5rem !important;
  }
}

.news {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.1);
  &-title {
    height: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }
  &-buttom {
    background-color: #ffffff;
  }
  &-content {
    img {
      max-width: 100%;
    }
  }
}

.banner-video {
  position: relative;
  &-txt {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000060;
    color: #fff;
  }
}

@media (max-width: 350px) {
  .btn-dang-nhap {
    font-size: 13px !important;
  }

  .logo-fix  {
    width: 100px !important;
  }
  .menu__btn {
    width: 35px !important;
    height: 35px !important;
  }
  .header {
    padding: 13px 0 !important;
  }
}


