<template>
  <div>
    <div class="wapper-header pb-0">
      <div class="mb-4">
        <h3 class="text-pink pull-left wapper-header-title">
          <nuxt-link to="/me/customer"><i class="fa fa-chevron-left text-pink mr-4"></i></nuxt-link>
          <b>{{ customerInfo.Fullname}}</b>
        </h3>
      </div>
      <div class="clearfix"></div>
      <nuxt-link class="text-pink" :to="`/me/customer/${$route.params.id}/contract`">Danh sách hợp đồng /</nuxt-link>
      Thông tin hợp đồng - {{contractInfo.ProductName}}
    </div>
    <div class="wrapper-body">
      <div class="bg-white" style="padding: 2rem">
        <ContractInsert :info="contractInfo" :isCreated="false"/>
      </div>
    </div>
  </div>
</template>

<script>
  import ContractInsert from "~/components/form/ContractInsert"
  import dateFormat from "~/mixins/dateFormat"
  export default {
    name: "contractInfo",
    mixins: [
      dateFormat
    ],
    components: {ContractInsert},
    data() {
      return {
        customerInfo: [],
        contractInfo: [],
      }
    },
    computed: {
      customerId() {
        return this.$route.params.id
      },
      contractId() {
        return this.$route.params.contractId
      }
    },
    created() {
      this.getCustomerInfo()
      this.getContractInfo()
    },
    methods: {
      async getCustomerInfo() {
        let payload = {
          CustomerId: this.customerId
        }
        const data = await this.$_callUserApiGet('customer/detail', payload)
        this.customerInfo = data.Customer
      },

      async getContractInfo() {
        let payload = {
          ContractId: this.contractId
        }
        const data = await this.$_callUserApiGet('contract/detail', payload)
        this.contractInfo = data.Contract
        this.contractInfo.EffectiveDate = this.formatDateYMD(this.contractInfo.EffectiveDate)
        this.contractInfo.NextBillingDate = this.formatDateYMD(this.contractInfo.NextBillingDate)
        this.contractInfo.TerminationDate = this.formatDateYMD(this.contractInfo.TerminationDate)
      }
    }
  }
</script>
