<template>
  <div>
    <div v-if="show" class="popup">
      <div @click="show = false" class="popup-overlay"></div>
      <div class="popup-inner p-5">
        <div class="popup-close" @click="show = false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <h2 class="text-center mb-5"><b>Thêm hợp đồng</b></h2>
        <ContractInsert/>
      </div>
    </div>
    <div class="wapper-header pb-0">
      <div class="mb-4">
        <h3 class="text-pink pull-left wapper-header-title">
          <nuxt-link to="/me/customer"><i class="fa fa-chevron-left text-pink mr-4"></i></nuxt-link>
          <b>{{ customerInfo.Fullname}}</b>
        </h3>
        <button class="btn btn-pink pull-right" @click="show = true">
          <i class="fa fa-plus-circle"></i> Hợp đồng mới
        </button>
      </div>
      <div class="clearfix"></div>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li>
            <nuxt-link :to="`../${customerId}`">Thông tin cá nhân</nuxt-link>
          </li>
          <li class="active">
            Danh sách hợp đồng
          </li>
        </ul>
        <!-- /.tab-content -->
      </div>
    </div>
    <div class="wrapper-body position-relative">
      <div class="p-15">
        <div>
          <div class="tool-bar d-flex justify-content-between align-items-center bg-white p-3">
            <div class="d-flex justify-content-between align-items-center">
              <!--<button type="button" class="btn btn-default btn-sm mr-3"><i class="fa fa-trash-o"></i></button>-->
              <div class="input-icon">
                <i class="fa fa-search"></i>
                <input
                  @keyup="searchContracts"
                  v-model="searchQuery"
                  v-debounce="750"
                  style="width: 300px"
                  class="mr-3"
                  type="text"
                  placeholder="Tìm theo tên sản phẩm"
                />
              </div>
              <!--<input type="date"/>-->
            </div>
            <div v-if="numPage > 1" class="pull-right">
              <b-pagination-nav
                ref="pagination"
                :value="page"
                :link-gen="linkGen"
                :number-of-pages="numPage"
                use-router
              />
            </div>
          </div>
          <div v-if="contracts && contracts.length" class="bg-white mt-4">
            <table class="table table-hover table-list">
              <thead>
              <tr class="text-uppercase ">
                <!--<th>-->
                <!--<label class="checkbox-custom mr-3">-->
                <!--<input type="checkbox">-->
                <!--<span class="checkmark"></span>-->
                <!--</label>-->
                <!--</th>-->
                <th>Số hợp đồng</th>
                <th>Tên sản phẩm</th>
                <th>Ngày hiệu lực</th>
                <th>Định nộp phí</th>
                <th>Ngày đóng phí tiếp theo</th>
                <th>Loại khách hàng</th>
                <th class="text-center" width="150px">HÀNH ĐỘNG</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(i,key) in contracts" :key="key">
                <!--<td width="80px">-->
                <!--<label class="checkbox-custom mr-3">-->
                <!--<input type="checkbox">-->
                <!--<span class="checkmark"></span>-->
                <!--</label>-->
                <!--</td>-->
                <td>
                  <nuxt-link class="text-info" :to="`contract/${i.ContractId}`">{{i.ContractNo}}</nuxt-link>
                </td>
                <td>{{i.ProductName}}</td>
                <td>{{formatDate(i.EffectiveDate)}}</td>
                <td>{{billingCycle[i.BillingCycle]}}</td>
                <td>{{formatDate(i.NextBillingDate)}}</td>
                <td>{{customerType[i.CustomerType]}}</td>
                <td class="table-list-action" width="150px">
                  <button @click="deleteContract(i.ContractId,i.ProductName)"><i class="icon-delete"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div v-if="contracts" class="text-center">
          <EmptyData v-if="!contracts.length && !loading" page="HopDong"/>
        </div>
      </div>
      <Loading v-if="loading"/>
    </div>
  </div>
</template>

<script>
  import EmptyData from "~/components/EmptyData"
  import ContractInsert from "~/components/form/ContractInsert"
  import debounce from 'v-debounce'
  import Loading from "~/components/base/Loading"
  import dateFormat from "~/mixins/dateFormat"
  import pageNavigation from "~/mixins/pageNavigation"

  export default {
    name: "CustomerContract",
    directives: {
      debounce,
    },
    components: {
      Loading,
      ContractInsert,
      EmptyData,
      pageNavigation
    },
    mixins: [
      pageNavigation,
      dateFormat,
    ],
    data() {
      return {
        contracts: [],
        page: 1,
        perPage: 15,
        customerInfo: [],
        show: false,
        customerType: ['Cả 2', 'Người được bảo hiểm', 'Người đóng bảo hiểm'],
        billingCycle: [
          'Đóng một lần',
          'Tháng',
          'Quý',
          'Nửa năm',
          'Năm',
        ],
        searchQuery: '',
        loading: false,
        numPage: 1,
      }
    },
    computed: {
      customerId() {
        return this.$route.params.id
      },
    },
    created() {
      this.getContracts()
      this.getCustomerInfo()
    },
    methods: {
      async getContracts() {
        const dataAll = await this.$_callUserApiGet('customer/contracts', [], [0, 10000])
        if (dataAll.Contracts) this.numPage = Math.ceil(dataAll.Contracts.length / this.perPage)
        this.loading = true
        let StartIndex = 0
        if (this.page !== 1) StartIndex = this.page * this.perPage
        const pageSection = [StartIndex, this.perPage]
        let payload = {
          CustomerId: this.customerId
        }
        const data = await this.$_callUserApiGet('customer/contracts', payload, pageSection)
        this.contracts = data.Contracts
        setTimeout(() => this.loading = false)
      },

      async getCustomerInfo() {
        let payload = {
          CustomerId: this.customerId
        }
        const data = await this.$_callUserApiGet('customer/detail', payload)
        this.customerInfo = data.Customer
      },
      async searchContracts() {
        const pageSection = [0, this.perPage]
        if (this.searchQuery !== '') {
          this.loading = true
          const data = await this.$_callUserApiGet('search/contracts', {Query: this.searchQuery, CustomerId: this.customerId }, pageSection)
          this.contracts = data.Contracts
          setTimeout(() => this.loading = false)
        }
        else this.getContracts()
      },
      async deleteContract(id, name) {
        if (confirm('Bạn có muốn xóa hợp đồng: ' + name + ' ?')) {
          const data = await this.$_callUserApiGet('contract/delete', {
            ContractId: id,
          }, null)
          if (data.Reason) {
            this.$toast.error(data.Reason, {duration: 5000})
          }
          else {
            this.getContracts()
            this.$toast.success('Đã xóa hợp đồng', {duration: 6000})
          }
        }
      },
    }
  }
</script>
