﻿<template>
  <div class="home-banner" id="trang-chu">
    <div class="swiper-inner">
      <swiper :options="swiperOption">
        <!--
          <swiper-slide>
            <div class="banner-video">
              <video autoplay muted loop id="myVideo" style="width: 100%; height: 100%">
                <source src="/videos/rain.mp4" type="video/mp4">
              </video>
              <div class="banner-video-txt">
                <div class="text-center">
                  <h1 style="font-size: 50px">Tiêu đề bannner</h1>
                  <p style="font-size: 20px; font-weight: normal">Nội dung mô tả</p>
                </div>
              </div>
            </div>
          </swiper-slide>
        -->
        <swiper-slide>
          <img width="100%" src="/images/banner.png" alt="">
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
    import 'swiper/dist/css/swiper.css'
    import {swiper, swiperSlide} from 'vue-awesome-swiper'
    import {defaultGlideOpts} from '~/utils/carousel'

    export default {
        name: "BannerHome",
        components: {
            swiper,
            swiperSlide
        },
        data() {
            return {
                glideOpts: {
                    ...defaultGlideOpts,
                    perView: 1,
                },
                swiperOption: {
                    // effect: 'flip',
                    grabCursor: true,
                    spaceBetween: 0,
                    loop: true,
                    speed: 800,
                    autoplay: {
                      delay: 3000,
                    },
                    cubeEffect: {
                        shadow: false,
                        slideShadows: false,
                        shadowOffset: 20,
                        shadowScale: 0.94
                    },
                }
            }
        },
    }
</script>

<style lang="scss">
  .swiper-inner {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  .swiper-container {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }


  @media (max-width: 960px) {
    .home-banner {
      padding-top: 60px;
    }
    .swiper-inner {
      height: 450px;
    }
  }

  @media (max-width: 640px) {
    .swiper-inner {
      height: 180px;
    }
  }
</style>
