<template>
  <div>
    <h1 class="text-center "><b>Điều khoản sử dụng</b></h1>
    <div class="p-5 text-justify">
      Vui lòng đọc kỹ Thỏa Thuận Sử Dụng (“Thỏa Thuận”) trước khi bạn tiến hành tải, cài đặt, sử dụng tất cả hoặc bất kỳ
      phần nào của ứng dụng “QUÀ TẶNG BẢO HIỂM” (“Ứng Dụng”) (bao gồm nhưng không giới hạn phần mềm, các tệp và các tài
      liệu liên quan) hoặc sử dụng các dịch vụ do Công Ty Cổ Phần Công nghệ và Đào tạo Quà Tặng Bảo Hiểm (“QTBH”) cung
      cấp để kết nối đến Ứng Dụng.

      Bạn chấp thuận và đồng ý bị ràng buộc bởi các quy định và điều kiện trong Thỏa Thuận này khi thực hiện các thao
      tác trên đây. Trường hợp bạn không đồng ý với bất kỳ điều khoản sử dụng nào của chúng tôi (phiên bản này và các
      phiên bản cập nhật), bạn vui lòng không tải, cài đặt, sử dụng, truy cập Ứng dụng hoặc tháo gỡ Ứng Dụng ra khỏi
      thiết bị di động của bạn.


      <br>
      <br>
      <h3><b>1. Cập nhật:</b></h3>

      Thỏa Thuận này có thể được cập nhật thường xuyên bởi QTBH, phiên bản cập nhật sẽ được chúng tôi công bố tại trang
      mạng https://quatangbaohiem.com. Phiên bản cập nhật sẽ thay thế cho các quy định và điều kiện trong thỏa thuận ban
      đầu. Bạn có thể truy cập vào Ứng Dụng hoặc vào trang mạng trên đây để xem nội dung chi tiết của phiên bản cập
      nhật.


      <br>
      <br>
      <h3><b>2. Giới Thiệu Về Ứng Dụng</b></h3>

      Quà Tặng Bảo Hiểm là ứng dụng hỗ trợ làm việc cho đội ngũ tư vấn tài chính, tư vấn bảo hiểm tại Việt Nam. Ứng dụng
      đưa ra các gói công cụ và khóa học phù hợp với tất cả các anh chị tư vấn bảo hiểm, nhằm mang lại hiệu quả tốt hơn
      cho công việc kinh doanh của các anh chị. Ứng dụng được hỗ trợ trên nền tảng trình duyệt (máy tính), nền tảng Ứng
      dụng di động iOS và dự kiến nền tảng Ứng dụng di động Android trong tương lai gần.


      <br>
      <br>
      <h3><b>3. Quyền Sở Hữu Ứng Dụng</b></h3>

      Ứng Dụng này được phát triển và sở hữu bởi QTBH, tất cả các quyền sở hữu trí tuệ liên quan đến Ứng Dụng (bao gồm
      nhưng không giới hạn mã nguồn, hình ảnh, dữ liệu, thông tin, nội dung chứa đựng trong Ứng Dụng; các sửa đổi, bổ
      sung, cập nhật của Ứng Dụng) và các tài liệu hướng dẫn liên quan (nếu có) sẽ thuộc quyền sở hữu duy nhất bởi QTBH
      và không cá nhân, tổ chức nào được phép sao chép, tái tạo, phân phối, hoặc hình thức khác xâm phạm tới quyền của
      chủ sở hữu nếu không có sự đồng ý và cho phép bằng văn bản của QTBH.

      Các tài liệu văn bản, hình ảnh, video, logo thương hiệu trên ứng dụng QTBH được pháp luật bảo hộ bản quyền sở hữu
      trí tuệ. Các hành vi xâm phạm bản quyền sẽ được xử lý theo quy định hiện hành.


      <br>
      <br>
      <h3><b>4. Tài Khoản người dùng</b></h3>

      Để sử dụng Ứng Dụng bạn phải tạo một tài khoản theo yêu cầu của chúng tôi, bạn cam kết rằng việc sử dụng tài khoản
      phải tuân thủ các quy định của QTBH, đồng thời tất cả các thông tin bạn cung cấp cho chúng tôi là đúng, chính xác,
      đầy đủ với tại thời điểm được yêu cầu. Mọi quyền lợi và nghĩa vụ của bạn sẽ căn cứ trên thông tin tài khoản bạn đã
      đăng ký, do đó nếu có bất kỳ thông tin sai lệch nào chúng tôi sẽ không chịu trách nhiệm trong trường hợp thông tin
      đó làm ảnh hưởng hoặc hạn chế quyền lợi của bạn.


      <br>
      <br>
      <h3><b>5. Tài Khoản</b></h3>

      Bạn có quyền sử dụng Ứng Dụng và các dịch vụ khác mà chúng tôi cung cấp, tuy nhiên việc sử dụng đó sẽ không bao
      gồm các hành vi sau đây nếu không có sự đồng ý bằng văn bản của QTBH.

      • Sao chép, chỉnh sửa, tái tạo, tạo ra sản phẩm mới hoặc phiên bản phái sinh trên cơ sở Ứng Dụng này; Bán, chuyển
      giao, cấp quyền lại, tiết lộ hoặc hình thức chuyển giao khác hoặc đưa một phần hoặc toàn bộ Ứng Dụng cho bất kỳ
      bên thứ ba;
      • Sử dụng Ứng Dụng để cung cấp dịch vụ cho bất kỳ bên thứ ba (tổ chức, cá nhân);
      • Di chuyển, xóa bỏ, thay đổi bất kỳ thông báo chính đáng hoặc dấu hiệu nào của Ứng Dụng (bao gồm nhưng không giới
      hạn các tuyên bố về bản quyền);
      • Thiết kế lại, biên dịch, tháo gỡ, chỉnh sửa, đảo lộn thiết kế của Ứng Dụng hoặc nội dung Ứng Dụng; Thay đổi hoặc
      hủy bỏ trạng thái ban đầu của Ứng Dụng;
      • Sử dụng Ứng Dụng để thực hiện bất kỳ hành động gây hại cho hệ thống an ninh mạng của QTBH, bao gồm nhưng không
      giới hạn sử dụng dữ liệu hoặc truy cập vào máy chủ hệ thống hoặc tài khoản không được phép; truy cập vào hệ thống
      mạng để xóa bỏ, chỉnh sửa và thêm các thông tin; phát tán các chương trình độc hại, virus hoặc thực hiện bất kỳ
      hành động nào khác nhằm gây hại hoặc phá hủy hệ thống mạng;
      • Đăng nhập và sử dụng Ứng Dụng bằng một phần mềm tương thích của bên thứ ba hoặc hệ thống không được phát triển,
      cấp quyền hoặc chấp thuận bởi QTBH;
      • Sử dụng, bán, cho mượn, sao chép, chỉnh sửa, kết nối tới, phiên dịch, phát hành, công bố các thông tin liên quan
      đến Ứng Dụng, xây dựng mirror website để công bố các thông tin này hoặc để phát triển các sản phẩm phái sinh, công
      việc hoặc dịch vụ;
      • Sử dụng Ứng Dụng để đăng tải, chuyển, truyền hoặc lưu trữ các thông tin vi phạm pháp luật, vi phạm thuần phong
      mỹ tục của dân tộc;
      • Sử dụng Ứng Dụng để sử dụng, đăng tải, chuyển, truyền hoặc lưu trữ bất kỳ nội dung vi phạm quyền sở hữu trí tuệ,
      bí mật kinh doanh hoặc quyền pháp lý của bên thứ ba;
      • Sử dụng Ứng Dụng hoặc các dịch vụ khác được cung cấp bởi QTBH trong bất kỳ hình thức vi phạm pháp luật nào, cho
      bất kỳ mục đích bất hợp pháp nào;
      • Các hình thức vi phạm khác.

      <br>
      <br>
      <h3><b>6. Xử Lý Vi Phạm</b></h3>

      Trường hợp bạn vi phạm bất kỳ quy định nào trong Thỏa Thuận này, QTBH có quyền ngay lập tức khóa tài khoản của bạn
      và/hoặc xóa bỏ toàn bộ các thông tin, nội dung vi phạm, đồng thời tùy thuộc vào tính chất, mức độ vi phạm bạn sẽ
      phải chịu trách nhiệm trước cơ quan có thẩm quyền, QTBH và bên thứ ba về mọi thiệt hại gây ra bởi hoặc xuất phát
      từ hành vi vi phạm của bạn.


      <br>
      <br>
      <h3><b>7. Quyền Truy Cập và Thu Thập Thông Tin</b></h3>

      (a) Khi sử dụng Ứng Dụng, bạn thừa nhận rằng chúng tôi có quyền sử dụng những API hệ thống sau để truy cập vào dữ
      liệu trên điện thoại của bạn: (1) Ghi dữ liệu của Ứng Dụng lên thẻ nhớ, (2) Truy cập vào Internet từ thiết bị của
      bạn. Tất cả các truy cập này đều được chúng tôi thực hiện sau khi có sự đồng ý của bạn, vì vậy bạn cam kết và thừa
      nhận rằng, khi bạn đã cấp quyền cho chúng tôi, bạn sẽ không có bất kỳ khiếu nại nào đối với QTBH về việc truy cập
      này.

      (b) Cùng với quyền truy cập, chúng tôi sẽ thu thập các thông tin sau của bạn

      Thông tin cá nhân: bao gồm các thông tin bạn cung cấp cho chúng tôi để xác nhận tài khoản như tên, số điện thoại,
      số chứng minh nhân dân, địa chỉ email, tài khoản Facebook, tên công ty bảo hiểm bạn đang hợp tác, chức vụ của bạn.
      Thông tin chung: như các thông tin về cấu hình điện thoại của bạn, thông tin phiên bản Quà Tặng Bảo Hiểm mà bạn
      đang sử dụng cho điện thoại của mình;

      (c) Khi sử dụng ứng dụng, bạn cho phép chúng tôi có thể gửi thông báo đến bạn thông qua ứng dụng; hoặc số điện
      thoại, thư điện tử mà bạn cung cấp cho chúng tôi. Ví dụ: chúng tôi gửi thông báo trao thưởng cho bạn trong một
      khóa học trực tuyến hoặc một trò chơi có thưởng.


      <br>
      <br>
      <h3><b>8. Cam Kết Bảo Mật Thông Tin</b></h3>

      QTBH sử dụng các phương thức truyền tin an toàn https và mã hóa để truyền tải và lưu trữ các dữ liệu cá nhân và
      giao tiếp của bạn. Chúng tôi cam kết giữ bí mật tất cả thông tin mà bạn cung cấp cho QTBH hoặc chúng tôi thu thập
      từ bạn và không tiết lộ với bất kỳ bên thứ ba nào trừ khi có yêu cầu từ Cơ quan Nhà nước có thẩm quyền.


      <br>
      <br>
      <h3><b>9. Phí Và Các Khoản Thu</b></h3>

      QTBH không thu phí từ người dùng cho các dịch vụ cơ bản mà hiện tại chúng tôi đang cung cấp. Với các dịch vụ, gói
      người dùng, công cụ, khóa học nâng cao, chúng tôi thu phí theo thỏa thuận của từng dịch vụ, với sự đồng ý chi trả
      của bạn. Chúng tôi bảo lưu quyền thay đổi biểu phí, tuy nhiên sẽ thông báo đến người dùng trước khi quyết định sử
      dụng dịch vụ nâng cao.


      <br>
      <br>
      <h3><b>10. Quảng cáo và các nội dung thương mại được phân phối bởi Quà Tặng Bảo Hiểm</b></h3>

      Khi sử dụng ứng dụng, bạn thừa nhận rằng chúng tôi có quyền sử dụng các thông tin không định danh của bạn nhằm
      cung cấp các nội dung quảng cáo đúng đối tượng. Bạn cũng thừa nhận rằng chúng tôi có quyền sử dụng các thông tin
      không định danh thuộc dữ liệu bạn tải lên hoặc đồng bộ hóa dữ liệu trong quá trình sử dụng ứng dụng nhằm phục vụ
      các mục đích phân tích dữ liệu và cải thiện hiệu năng ứng dụng.

    </div>
  </div>
</template>

<script>
  export default {
    name: "Dksd"
  }
</script>

<style scoped>

</style>
