<template>
  <div class="text-center">
    <img class="mb-3" v-if="page !== 'Default'" :src="`/images/icon/img_empty_${page}.png`" alt="">
    <h3 class="mt-5">{{content[page].title}}</h3>
    <p>{{content[page].des}}</p>
  </div>
</template>

<script>
  export default {
    name: "EmptyData",
    props: {
      page: {
        type: String,
        default: 'Default',
      },
    },
    data() {
      return {
        content: {
          DanhSachKhachHang: {
            title: 'Danh sách khách hàng hiện không có',
            des: ''
          },
          ThanhVienNhom: {
            title: 'Bạn chưa có thành viên nhóm nào',
            des: ''
          },
          KhoaHoc: {
            title: 'Hiện Không Có Khóa học nào',
            des: ''
          },
          ThongBao: {
            title: 'Hiện Không Có Thông Báo',
            des: ''
          },
          TinTuc: {
            title: 'Hiện Không Có Tin Tức Nào',
            des: ''
          },
          HopDong: {
            title: 'Bạn Không Có Hợp Đồng Nào',
            des: 'Lorem'
          },
          Default: {
            title: 'Không có dữ liệu',
            des: ''
          }
        }
      }
    }
  }
</script>
