<template>
  <div>
    <small>Số điện thoại</small>
    <div class="row">
      <div class="col-md-9">
        <input
          v-model="phone"
          class="form-control mt-2"
          type="text"
          name="phone"
          @keyup="checkChangePhone()"
        >
      </div>
      <div class="col-md-3">
        <button :disabled="!isChange" @click="checkAccountKit" class="btn btn-pink mt-2" style="width: 100%">Cập nhật</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "PhoneUpdate",
    props: {
      userPhone: {
        type: String,
        default: ''
      }
    },
    data(){
      return {
        isChange: false,
        phoneOld: '',
        phone: '',
      }
    },
    created() {
      this.phoneOld = this.userPhone
      this.phone = this.userPhone
    },
    methods: {
      checkChangePhone() {
        if(this.phoneOld !== this.phone) this.isChange = true
        else this.isChange = false
      },
      checkAccountKit(){
        var countryCode = '+84';
        var phoneNumber = this.phone;
        window.AccountKit.login(
          'PHONE',
          {countryCode: countryCode, phoneNumber: phoneNumber},
          this.SignUpCallback
        );
      },
      SignUpCallback(response) {
        if (response.status === "PARTIALLY_AUTHENTICATED") {
          this.updatePhone()
        }
        else if (response.status === "NOT_AUTHENTICATED") {
          this.$toast.error('Lỗi xác thực số điện thoại', {duration: 8000})
        }
      },

      async updatePhone() {
        let data = await this.$_callUserApiGet('account/update', {Phone : this.phone}, null)
        if (data.Reason) {
          this.$toast.error(data.Reason, {duration: 8000})
        }
        else {
          this.$emit('updatePhone', this.phone)
          this.$toast.success('Đã cập nhất số điện thoại', {duration: 5000})
        }
      }
    }
  }
</script>
