<template>
  <div>
    <h1 class="text-center "><b>Chính sách về quyền riêng tư</b></h1>
    <div class="p-5 text-justify">
      <h3><b>Giới thiệu</b></h3>
      Công ty Cổ phần công nghệ và đào tạo Quà tặng Bảo hiểm luôn nỗ lực bảo vệ thông tin cá nhân của khách hàng. Với
      việc thu thập ngày càng nhiều thông tin cá nhân từ khách hàng qua Internet thông qua đăng ký người dùng, các
      chương trình trò chơi có thưởng, khảo sát người dùng, v.v., việc quản lý và bảo vệ hợp lý thông tin cá nhân của
      khách hàng ngày càng trở nên quan trọng hơn trong những năm gần đây.
      <br>
      Công ty chúng tôi đã thiết lập "Chính sách về quyền riêng tư" như trình bày dưới đây và chúng tôi cam kết sẽ quản
      lý các ứng dụng của chúng tôi nhằm đảm bảo khách hàng của chúng tôi được an toàn và hài lòng với chính sách bảo vệ
      dữ liệu nghiêm ngặt.

      <br>
      <br>
      <h3><b>Định nghĩa thông tin cá nhân</b></h3>

      Thông tin cá nhân là bất kỳ thông tin nào được cung cấp cho công ty chúng tôi, có thể được sử dụng để nhận dạng
      một cá nhân chẳng hạn như tên và họ, số điện thoại hoặc địa chỉ email hay bất kỳ thông tin nào nhận dạng duy nhất
      cá nhân đó.


      <br>
      <br>
      <h3><b>Thu thập thông tin cá nhân</b></h3>

      Khi Công ty chúng tôi thu thập thông tin cá nhân qua Internet, chúng tôi tuân theo quy tắc cơ bản là thông tin đó
      được cung cấp (đăng ký) một cách tự nguyện. Chúng tôi sẽ chỉ thu thập thông tin cá nhân trong giới hạn cần thiết
      để hoàn thành mục đích thu thập thông tin của mình, mục đích đó sẽ được công bố rõ ràng. Nếu bạn không muốn cung
      cấp (đăng ký) thông tin cá nhân mà chúng tôi tìm kiếm, bạn có thể từ chối làm như vậy theo toàn quyền quyết định
      của bạn. Trong những trường hợp đó, bạn không thể truy cập một số dịch vụ mà chúng tôi cung cấp thông qua các ứng
      dụng của công ty chúng tôi.


      <br>
      <br>
      <h3><b>Mục đích và giới hạn sử dụng thông tin cá nhân</b></h3>

      Khi chúng tôi đề nghị cung cấp thông tin cá nhân (đăng ký), chúng tôi thu thập thông tin trong giới hạn thích hợp.
      Đồng thời cũng có khả năng sử dụng thông tin cá nhân cho những mục đích khác, như dữ liệu thống kê ở các biểu mẫu
      trong đó dữ liệu không được phân biệt theo từng cá nhân.
      Mục đích sử dụng thông tin cá nhân chính của chúng tôi là:
      <ul class="mt-3">
        <li>Để cung cấp dịch vụ mà bạn mong muốn một cách phù hợp nhất.</li>
        <li>Để cải tiến dịch vụ cho bạn.</li>
        <li>Để cung cấp thông tin về hàng hóa hoặc dịch vụ cho bạn.</li>
        <li>Để tạo ra trải nghiệm người dùng tốt nhất cho bạn khi sử dụng các ứng dụng của chúng tôi.</li>
      </ul>

      <br>
      <br>
      <h3><b>Quy tắc không tiết lộ thông tin cá nhân cho bên thứ ba</b></h3>
      Công ty chúng tôi sẽ không tiết lộ cho các bên thứ ba bất kỳ thông tin cá nhân nào được cung cấp (đăng ký) cho
      chúng tôi, trừ những trường hợp sau:
      <ul class="mt-3">
        <li>Bạn đã đồng ý tiết lộ thông tin cá nhân của mình cho bên thứ ba.</li>
        <li>Thông tin cá nhân của bạn phải được tiết lộ cho công ty liên kết, chi nhánh công ty hoặc đối tác nghiệp vụ
          của
          chúng tôi, là những bên mà chúng tôi có thỏa thuận về tính bí mật nhằm thực hiện mục đích thu thập thông tin
          cá
          nhân, như chúng tôi đã tiết lộ trước đây. (Ví dụ: Chỉ dẫn một dịch vụ giao hàng để gửi phần quà đến bạn, cung
          cấp
          quyền tiếp cận thông tin kèm cam kết bảo mật cho các đối tác phát triển nghiệp vụ …)
        </li>
        <li>Thông tin cá nhân của bạn đã được xử lý vào dữ liệu thống kê sẽ không tiết lộ danh tính của bạn.
        <li>Luật yêu cầu tiết lộ.</li>
      </ul>
      <br>
      <br>
      <h3><b>Sử dụng thư trực tiếp</b></h3>

      Nếu bạn đã đồng ý cụ thể tại thời điểm đăng ký ứng dụng, chúng tôi có thể sử dụng số điện thoại, địa chỉ thư điện
      tử hoặc địa chỉ của bạn để gửi cho bạn những thông tin như thông báo về việc bạn trúng thưởng, hoặc được hưởng ưu
      đãi.


      <br>
      <br>
      <h3><b>Tham khảo, chỉnh sửa hoặc xóa thông tin cá nhân</b></h3>

      Khi bạn muốn đề cập tới thông tin cá nhân mà chúng tôi sở hữu hoặc muốn chỉnh sửa hay xóa thông tin đó, hãy liên
      hệ với chúng tôi qua kênh hỏi đáp thông qua quy trình đã định sẵn của công ty chúng tôi. Sau khi xác minh danh
      tính của người đưa ra yêu cầu, chúng tôi sẽ tiết lộ cho bạn hoặc chỉnh sửa/xóa thông tin trong thời gian hợp lý


      <br>
      <br>
      <h3><b>Trung tâm hỗ trợ khách hàng</b></h3>

      Nếu bạn muốn kiểm tra thông tin cá nhân của mình, vui lòng liên hệ với bộ phận đã trả lời câu hỏi của bạn hoặc qua
      chi tiết liên hệ mà công ty chúng tôi cung cấp cho bạn khi bạn cung cấp thông tin cá nhân của mình.


      <br>
      <br>
      <h3><b>Quản lý thông tin cá nhân</b></h3>

      Quản trị viên ứng dụng của Công ty Quà Tặng Bảo hiểm duy trì hoạt động quản lý nghiêm ngặt thông tin cá nhân đã
      thu thập được và các biện pháp thích hợp được thực hiện nhằm ngăn chặn sử dụng, tiết lộ hoặc sửa đổi trái phép
      thông tin đó. Khi các điều khoản sử dụng cụ thể được đăng trên Trang web chính thức hoặc Ứng dụng, những điều
      khoản sử dụng đó sẽ được ưu tiên áp dụng so với "Chính sách về quyền riêng tư" này.


      <br>
      <br>
      <h3><b>Hiểu biết khác</b></h3>

      Công ty chúng tôi nỗ lực bảo vệ thông tin cá nhân của bạn, tuy nhiên chúng tôi không thể đảm bảo bảo mật thông tin
      khi thông tin được chuyển cho chúng tôi. Mỗi khách hàng phải chịu trách nhiệm đối với việc truyền dữ liệu an toàn.
      Chúng tôi khuyên bạn nên áp dụng các biện pháp đề phòng về bảo mật dữ liệu khi kết nối với Internet. Công ty chúng
      tôi có thể thay đổi "Chính sách về quyền riêng tư" này bất cứ lúc nào. Trong trường hợp này, thông tin sẽ có hiệu
      lực khi được đăng lên Trang web hoặc các ứng dụng của công ty chúng tôi.

    </div>
  </div>
</template>

<script>
  export default {
    name: "Qrt"
  }
</script>

<style scoped>

</style>
