<template>
  <div>
    <div class="wapper-header pb-3">
      <h3 class="text-pink wapper-header-title">
        Lịch làm việc
      </h3>
    </div>
    <div class="wrapper-body">
      <div class="row">
        <div class="col-md-3">
          <div class="bg-white p-4 shadow mb-5">
            <label class="checkbox-custom checkbox-green mr-3 mb-3">
              Công việc cá nhân
              <input
                type="checkbox"
                v-model="checkedType"
                :value="0"
                :checked="checkedType.indexOf(+0)>-1"
                @change="getTasksByType(checkedType)"
              >
              <span class="checkmark"/>
            </label>
            <label class="checkbox-custom checkbox-blue mr-3 mb-3">
              Công việc công ty
              <input
                type="checkbox"
                v-model="checkedType"
                :value="1"
                :checked="checkedType.indexOf(+0)>-1"
                @change="getTasksByType(checkedType)"
              >
              <span class="checkmark"/>
            </label>
            <label class="checkbox-custom checkbox-red mr-3 mb-3">
              Công việc đồng nghiệp
              <input
                type="checkbox"
                v-model="checkedType"
                :value="4"
                :checked="checkedType.indexOf(+0)>-1"
                @change="getTasksByType(checkedType)"
              >
              <span class="checkmark"/>
            </label>
            <label class="checkbox-custom checkbox-purple mr-3 mb-3">
              Sinh nhật khách hàng
              <input
                type="checkbox"
                v-model="checkedType"
                :value="2"
                :checked="checkedType.indexOf(+0)>-1"
                @change="getTasksByType(checkedType)"
              >
              <span class="checkmark"/>
            </label>
            <label class="checkbox-custom checkbox-yellow mr-3 mb-3">
              Lịch thu phí
              <input
                type="checkbox"
                v-model="checkedType"
                :value="3"
                :checked="checkedType.indexOf(+0)>-1"
                @change="getTasksByType(checkedType)"
              >
              <span class="checkmark"/>
            </label>
          </div>
          <button @click="show = true" class="btn bg-white text-left w-100 p-4 shadow mt-5">
            <i class="fa fa-plus-circle mr-3"></i> Tạo sự kiện
          </button>
        </div>
        <div class="col-md-9">
          <FullCalendar
            class="bg-white shadow"
            ref="fullCalendar"
            defaultView="dayGridMonth"
            :plugins="calendarPlugins"
            :weekends="calendarWeekends"
            :events="calendarEvents"
            locale="vi"
            :header="{
              left: 'today prev next',
              center: 'title',
              right: 'dayGridMonth timeGridWeek timeGridDay listWeek'
            }"
            @eventClick="eventClick"
          />
        </div>
      </div>
    </div>
    <!--Create task-->
    <div v-if="show" class="popup">
      <div @click="show = false" class="popup-overlay"></div>
      <div class="popup-inner p-5 task-create" style="width: 500px">
        <div class="popup-close" @click="show = false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <h2 class="text-center mb-5"><b>Thêm sự kiện</b></h2>
        <div class="row">
          <div class="col-md-12 mb-5">
            <input v-model="payload.Description" class="form-control task-note" type="text" placeholder="Nội dung">
          </div>
          <div class="col-md-12 mb-4 d-flex align-items-center">
            <i class="icon-calendar-chose mr-3"></i>
            <el-date-picker
              v-model="payload.Date"
              type="datetimerange"
              :default-time="['12:00:00']"
              :picker-options="picker"
              value-format="yyyy-MM-dd HH:mm:ss"
              start-placeholder="Ngày giờ bắt đầu"
              end-placeholder="Ngày giờ kết thúc"
            />
          </div>
          <div class="col-md-12 mb-4 d-flex align-items-center">
            <i class="icon-return mr-3"></i>
            <el-select v-model="payload.RepeatType" placeholder="Tùy chỉnh nhắc lại">
              <el-option :label="'Không bao giờ'" :value='0'/>
              <el-option :label="'Hàng ngày'" :value='1'/>
              <el-option :label="'Hàng tuần'" :value='2'/>
              <el-option :label="'Hàng tháng'" :value='3'/>
              <el-option :label="'Hàng năm'" :value='4' />
            </el-select>
          </div>
          <!--          <div class="col-md-12 mb-4 d-flex align-items-center">-->
          <!--            <i class="icon-user mr-4"></i>-->
          <!--            <el-select-->
          <!--              v-model="payload.TargetId"-->
          <!--              filterable-->
          <!--              remote-->
          <!--              reserve-keyword-->
          <!--              placeholder="Người thực hiện"-->
          <!--              :remote-method="remoteMethod"-->
          <!--              :loading="loading">-->
          <!--              <el-option-->
          <!--                v-for="item in Employees"-->
          <!--                :key="item.UserId"-->
          <!--                :label="`${item.Fullname} - ${item.CompanyName}`"-->
          <!--                :value="item.UserId">-->
          <!--              </el-option>-->
          <!--            </el-select>-->
          <!--          </div>-->
          <div class="col-md-12 mb-4 d-flex align-items-center mb-5">
            <i class="icon-calendar-check mr-3"></i>
            <el-select v-model="payload.Type" placeholder="Loại công việc">
              <el-option
                key="0"
                label="Công việc cá nhân"
                value='0'
              >
              </el-option>
              <el-option
                key="1"
                label="Công việc công ty"
                value='1'
              >
              </el-option>
            </el-select>
          </div>

          <button @click="createTask" class="btn btn-pink w-100">Thêm sự kiện</button>
        </div>
      </div>
    </div>
    <div v-if="showEdit" class="popup">
      <div @click="showEdit = false" class="popup-overlay"></div>
      <div class="popup-inner p-5 task-create" style="width: 500px">
        <div class="popup-close" @click="showEdit = false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <h2 class="text-center mb-5"><b>Thông tin sự kiện</b></h2>
        <div class="row">
          <div class="col-md-12 mb-5">
            <input :disabled="!canEdit" v-model="payload.Description" class="form-control task-note" type="text" placeholder="Nội dung">
          </div>
          <div class="col-md-12 mb-4 d-flex align-items-center">
            <i class="icon-calendar-chose mr-3"></i>
            <el-date-picker
              v-model="payload.Date"
              type="datetimerange"
              :default-time="['12:00:00']"
              value-format="yyyy-MM-dd HH:mm:ss"
              start-placeholder="Ngày giờ bắt đầu"
              end-placeholder="Ngày giờ kết thúc"
            />
          </div>
          <div v-if="canEdit" class="col-md-12 mb-4 d-flex align-items-center">
            <i class="icon-return mr-3"></i>
            <el-select v-model="payload.RepeatType" placeholder="Tùy chỉnh nhắc lại">
              <el-option :label="'Không bao giờ'" :value='0'/>
              <el-option :label="'Hàng ngày'" :value='1'/>
              <el-option :label="'Hàng tuần'" :value='2'/>
              <el-option :label="'Hàng tháng'" :value='3'/>
              <el-option :label="'Hàng năm'" :value='4' />
            </el-select>
          </div>
          <div v-if="canEdit" class="col-md-12 mb-4 d-flex align-items-center mb-5">
            <i class="icon-calendar-check mr-3"></i>
            <el-select v-model="payload.Type" placeholder="Loại công việc">
              <el-option
                key="0"
                label="Công việc cá nhân"
                :value=0
              >
              </el-option>
              <el-option
                key="1"
                label="Công việc công ty"
                :value=1
              >
              </el-option>
            </el-select>
          </div>
          <div v-if="canEdit" class="d-flex justify-content-center w-100">
            <button @click="deleteTask" class="btn btn-default mr-3">Xóa sự kiện</button>
            <button @click="updateTask" class="btn btn-pink">Cập nhật sự kiện</button>
          </div>
        </div>
      </div>
    </div>
    <Loading v-if="loadingData"/>
  </div>
</template>

<script>
  import FullCalendar from '@fullcalendar/vue'
  import dayGridPlugin from '@fullcalendar/daygrid'
  import timeGridPlugin from '@fullcalendar/timegrid'
  import interactionPlugin from '@fullcalendar/interaction'
  import {
    DatePicker as ElDatePicker,
    Select as ElSelect,
    Option as ElOption,
  } from 'element-ui'
  import Loading from "~/components/base/Loading"
  import dateFormat from "~/mixins/dateFormat"
  // import $ from 'jquery'
  export default {
    name: "calendar",
    mixins: [
      dateFormat
    ],
    components: {
      Loading,
      FullCalendar,
      timeGridPlugin,
      interactionPlugin,
      ElDatePicker,
      ElSelect,
      ElOption
    },
    data() {
      return {
        picker: {
          disabledDate(date) {
            return date.getTime() < Date.now()
          }
        },
        MyTasks: [],
        calendarPlugins: [dayGridPlugin, timeGridPlugin, interactionPlugin],
        calendarWeekends: true,
        calendarEvents: [],
        show: false,
        showEdit: false,
        canEdit: true,
        date: '',
        payload: {},
        loading: false,
        loadingData: false,
        options: [],
        list: [],
        checkedType: [0, 1, 2, 3, 4],
        taskType: [
          'Cá nhân',
          'Công ty',
        ],
        birthdays: [],
        nextBillingDates: [],
      }
    },

    computed: {
      userInfo() {
        return JSON.parse(localStorage.user_info)
      },
    },

    created() {
      this.getBrithdays()
      setTimeout(()=> {
          this.getTasksByType(this.checkedType)
      })
    },

    methods: {
      convertBirthDay(date) {
        let convertDate = new Date(date)
        convertDate = convertDate.setFullYear((new Date()).getFullYear())
        return this.formatDateTime(convertDate)
      },
      async getTasksByType(type) {
        this.calendarEvents = []
        this.loadingData = true
        if (type.find(e => e == 0) || type.find(e => e == 1) || type.find(e => e == 4)) {
          const data = await this.$_callUserApiGet('user/tasks', [], [0, 10000])
          if(type.find(e => e == 4) && data.ContactTasks) {
            this.calendarEvents = this.calendarEvents.concat(
              data.ContactTasks.map(item => {
                return {
                  id: item.TaskId,
                  title: item.TargetName + ': ' + item.Description,
                  start: item.StartDate,
                  end: item.EndDate,
                  classNames: 'red',
                  groupId: 4
                }
              })
            )
          }
          if(type.find(e => e == 0) || type.find(e => e == 1)) {
            if (data.MyTasks && data.MyTasks) {
              this.MyTasks = data.MyTasks
              if (this.checkedType.length) this.MyTasks = this.MyTasks.filter(e => this.checkedType.includes(e.Type))
              this.calendarEvents = this.calendarEvents.concat(
                this.MyTasks.map(item => {
                  return {
                    id: item.TaskId,
                    title: this.taskType[item.Type] + ': ' + item.Description,
                    start: item.StartDate,
                    end: item.EndDate,
                    classNames: this.checkTypeClass(item.Type),
                    groupId: item.Type
                  }
                })
              )
            }
          }
        }
        if (type.find(e => e == 2)) this.calendarEvents = this.calendarEvents.concat(this.birthdays)
        if (type.find(e => e == 3)) this.calendarEvents = this.calendarEvents.concat(this.nextBillingDates)
        setTimeout(() => this.loadingData = false)
      },
      checkTypeClass(id) {
        if (id === 0) return 'green'
        if (id === 1) return 'blue'
        if (id === 2) return 'yellow'
        if (id === 3) return 'purple'
        if (id === 4) return 'red'
      },

      async getBrithdays() {
        const data = await this.$_callUserApiGet('user/customers', [], [0,0])
        if(data.Customers) {
          this.birthdays = data.Customers.map(item => {
            return {
              id: item.CustomerId,
              title: 'Sinh nhât: ' + item.Fullname + '- ' + item.Phone,
              start: this.convertBirthDay(item.Birthday),
              classNames: this.checkTypeClass(3),
              groupId: 2
            }
          })
          for(let i= 0; i< data.Customers.length; i++) {
            const nextBillingDatesCustomers = data.Customers[i].Contracts.map(e => {
              return {
                id: [data.Customers[i].CustomerId, e.ContractId],
                title: 'Thu phí: MHĐ ' + e.ContractNo + ': ' + e.ProductName,
                start: e.NextBillingDate,
                classNames: this.checkTypeClass(2),
                groupId: 3
              }
            })
            this.nextBillingDates = this.nextBillingDates.concat(nextBillingDatesCustomers)
          }
        }
      },
      async createTask() {
        this.payload.StartDate = this.payload.Date[0]
        this.payload.EndDate = this.payload.Date[1]
        this.payload.Status = 0
        this.payload.TargetId = this.userInfo.UserId
        const data = await this.$_callUserApiGet('task/create', this.payload)
        if (data.Reason) {
          this.$toast.error(data.Reason, {duration: 5000})
          this.payload = {}
        }
        else {
          this.$toast.success('Đã tạo sự kiện ' + this.payload.Description, {duration: 5000})
          this.getTasksByType(this.checkedType)
          this.show = false
        }
      },
      eventClick(info) {
        if(info.event.groupId == 3) {
          let id  = (info.event.id).split(',')
          window.open(
            `${window.location.origin}/me/customer/${id[0]}/contract/${id[1]}`,
            '_blank'
          );
        }
        else if(info.event.groupId == 2) {
          window.open(
            `${window.location.origin}/me/customer/${info.event.id}`,
            '_blank'
          );
        }
        else if(info.event.groupId == 4) {
          this.payload.Description = info.event.title
          this.payload.Date = [info.event.start, info.event.end]
          this.canEdit = false
          this.showEdit = true
        }
        else {
          this.canEdit = true
          this.payload = this.MyTasks.filter(function (e) {
            return e.TaskId == info.event.id;
          }).pop()
          this.payload.Date = [this.payload.StartDate, this.payload.EndDate]
          this.showEdit = true
        }
      },
      deleteTask() {
        if (confirm('Bạn có muốn xóa sự kiện: ' + this.payload.Description + ' ?')) {
          const data = this.$_callUserApiGet('task/delete', {TaskId: this.payload.TaskId})
          if (data.Reason) {
            this.$toast.error(data.reason)
          }
          else {
            this.showEdit = false
            this.$toast.success('Bạn đã xóa sự kiện: ' + this.payload.Description, {duration: 5000})
            setTimeout(() => this.getTasksByType(this.checkedType))
            this.payload = []
          }
        }
      },
      updateTask() {
        if (confirm('Bạn có muốn thay đổi thông tin sự kiện: ' + this.payload.Description + ' ?')) {
          this.payload.StartDate = this.payload.Date[0]
          this.payload.EndDate = this.payload.Date[1]
          const data = this.$_callUserApiGet('task/update', this.payload)
          if (data.Reason) {
            this.$toast.error(data.reason)
          }
          else {
            this.showEdit = false
            this.$toast.success('Bạn update sự kiện: ' + this.payload.Description, {duration: 5000})
            setTimeout(() => this.getTasksByType(this.checkedType))
            this.payload = []
          }
        }
      },
    }
  }
</script>

<style lang='scss'>
  @import '@fullcalendar/core/main.css';
  @import '@fullcalendar/daygrid/main.css';
  @import '@fullcalendar/timegrid/main.css';
  @import '@fullcalendar/timegrid/main.css';
  @import '~/assets/scss/_fullcalendar.scss';

  .task-create {
    .form-control {
      border: none;
    }
    .task-note {
      padding: 10px 0;
      border-bottom: 2px solid #EE84B7;
      border-radius: 0 !important;
      font-size: 1.8rem !important;
    }
    .el-input__inner {
      border: none;
      border-radius: 0 !important;
    }
    .el-icon-time {
      display: none;
    }
  }
</style>
