<template>
  <div>
    <div class="wapper-header pb-0">
      <h3 class="text-pink wapper-header-title">Về chúng tôi</h3>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab_gt" data-toggle="tab">Giới thiệu</a></li>
          <li><a href="#tab_dk" data-toggle="tab">Điều khoản sử dụng</a></li>
        </ul>
        <!-- /.tab-content -->
      </div>
    </div>
    <div class="wrapper-body">
      <div class="container bg-white p-15">
        <div class="tab-content">
          <div class="tab-pane active" id="tab_gt">
            <div class="text-center p-5">
              <img width="250" src="/images/logo-color.png" alt="">
              <p class="pt-4" style="color: #999999">Phiên bản 1.0</p>
              <a href="https://www.facebook.com/quatangbaohiem/" target="_blank" class="btn btn-pink text-white">Truy cập fanpage</a>
            </div>
          </div>
          <div class="tab-pane" id="tab_dk">
            <Dksd class="mt-5"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Dksd from "~/components/Dksd"
  export default {
    name: "companyinfo",
    components: {Dksd}
  }
</script>
