<template>
  <div>
    <div class="wapper-header">
      <h3 class="text-pink wapper-header-title">Thông báo</h3>
    </div>
    <div class="wrapper-body">
      <div class="bg-white">
        zzzzzz
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "default"
  }
</script>

<style scoped>

</style>
