<template>
  <div>
    <div class="wapper-header pb-0">
      <h3 class="text-pink wapper-header-title">
        <b>Chỉnh sửa thông tin</b>
      </h3>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active">
            Thông tin cá nhân
          </li>
          <li>
            <nuxt-link to="/me/contact">Thành viên nhóm</nuxt-link>
          </li>
        </ul>
      </div>
    </div>
    <div v-if="userInfo" class="wrapper-body">
      <div class="p-15">
        <div class="row">
          <div class="col-md-4">
            <div class="bg-white px-5 py-5">
              <div style="width: 100px; margin: auto" class="mb-4">
                <div
                  class="bg-img bg-img-11 circle previewImg"
                  :style="{ 'background-image': 'url(https://graph.facebook.com/'+ userInfo.FacebookId + '/picture?type=large)' }"
                >
                  <!--<div-->
                    <!--class="bg-img-inner d-flex align-items-center justify-content-center"-->
                  <!--&gt;-->
                    <!--<i class="fa fa-camera"></i>-->
                    <!--<input-->
                      <!--ref="viewAvatar"-->
                      <!--type="file"-->
                      <!--@input="viewImage"-->
                    <!--&gt;-->
                  <!--</div>-->
                </div>
              </div>
              <div v-if="editAvata" class="text-center">
                <button @click="updateAvatar" style="font-size: 12px" class="btn btn-pink">Lưu ảnh đại diện</button>
                <button @click="resetAvatar" style="font-size: 12px" class="btn btn-default">Hủy</button>
              </div>
              <h3 class="profile-username text-center"><b>{{ userInfo.Fullname }}</b></h3>
              <p class="text-muted text-center">
                <i v-if="userInfo.Phone" class="fa fa-phone text-green"></i> {{userInfo.Phone}} <br>
                <i v-if="userInfo.Address" class="fa fa-map-marker text-green"></i> {{userInfo.Address}}
                <i v-if="userInfo.Email" class="fa fa-envelope text-green"></i> {{userInfo.Email}}
              </p>
              <table class="mt-5 w-100">
                <!--<tr>-->
                  <!--<td class="py-3">Cấp bậc:</td>-->
                  <!--<td class="text-right py-3">-->
                    <!--{{ positionName }}-->
                  <!--</td>-->
                <!--</tr>-->
                <tr>
                  <td class="py-3">FacebookID:</td>
                  <td class="text-right">
                    <template v-if="userInfo.FacebookId">
                      {{userInfo.FacebookId}}
                    </template>
                    <template v-else>
                      <div class="text-pink pointer">
                        <FacebookLogin @success="connectFb" @error="connectFbError">
                          <i class="fa fa-facebook-square"></i>
                          Kết nối Facebook
                        </FacebookLogin>
                      </div>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td class="py-3">Tài khoản <b v-if="!userInfo.Pro">Free</b></td>
                  <td class="text-right py-3 text-pink pointer">
                    <a
                      v-if="!userInfo.Pro"
                      class="text-pink"
                      :href="payUrl">
                      Nâng cấp <b>Premium</b>
                    </a>
                    <b v-else>Premium</b>
                  </td>
                </tr>
                <!--<tr>-->
                  <!--<td class="py-3">{{userInfo.Sync ? 'Đang đồng bộ' : 'Đã tắt đồng bộ' }}</td>-->
                  <!--<td v-if="!userInfo.Sync" @click="showSync = true" class="text-right py-3 text-pink pointer">Cài đặt đồng bộ</td>-->
                  <!--<td v-else @click="showSync = true" class="text-right py-3 text-pink pointer">Tắt đồng bộ</td>-->
                <!--</tr>-->
                <tr>
                  <td class="py-3">Mật khẩu</td>
                  <td @click="showChangePass = true" class="text-right py-3 text-pink pointer">Đổi mật khẩu</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-md-8">
            <div class="bg-white px-4 py-4 mb-4">
              <PhoneUpdate :userPhone="userInfo.Phone" @updatePhone="updatePhone"/>
            </div>
            <div class="bg-white px-4 py-5">
              <div class="row">
                <div class="col-sm-6 mb-4">
                  <small>Họ và tên</small>
                  <input
                    v-model="userInfo.Fullname"
                    v-validate="'required'"
                    class="form-control mt-2"
                    type="text"
                    name="fullname"
                  >
                  <small class="text-danger">{{ veeErrors.first('fullname') }}</small>
                </div>
                <div class="col-sm-6 mb-4">
                  <small>Email</small>
                  <input
                    v-model="userInfo.Email"
                    v-validate="'required|email'"
                    class="form-control mt-2" type="text"
                    name="email"
                  >
                  <small class="text-danger">{{ veeErrors.first('email') }}</small>
                </div>
                <!--<div class="col-sm-6 mb-4">-->
                  <!--<small>Facebook Id</small>-->
                  <!--<input-->
                    <!--v-model="userInfo.FacebookId"-->
                    <!--class="form-control mt-2"-->
                    <!--type="text"-->
                  <!--&gt;-->
                <!--</div>-->
                <div class="col-sm-6 mb-4">
                  <small>Tên công ty</small>
                  <el-select class="w-100 mt-2" v-model="userInfo.CompanyId" placeholder="Tùy chỉnh nhắc lại" filterable>
                    <el-option v-for="(company, key) in common.CompanyList"
                               :key="company.CompanyId"
                               :label="company.CompanyName"
                               :value='company.CompanyId'>
                    </el-option>
                  </el-select>
                </div>
                <div class="col-sm-6 mb-4">
                  <small>Khu vực</small>
                  <input
                    v-model="userInfo.Area"
                    class="form-control mt-2"
                    type="text"
                  >
                </div>
                <!--<div class="col-sm-6 mb-4">-->
                  <!--<small>Cấp bậc</small>-->
                  <!--<el-select class="w-100 mt-2" v-model="userInfo.PositionId" placeholder="Tùy chỉnh nhắc lại" filterable>-->
                    <!--<el-option v-for="(position, key) in common.PositionList"-->
                               <!--:key="position.Id"-->
                               <!--:label="position.PositionName"-->
                               <!--:value='position.Id'>-->
                      <!--<div>-->
                        <!--<b>-->
                          <!--<i-->
                            <!--class="text-pink fa mr-3"-->
                            <!--:class="userInfo.PositionId === position.Id ? 'fa-circle' : 'fa-circle-o'"-->
                          <!--/>-->
                          <!--{{ position.PositionName }}-->
                        <!--</b>-->
                        <!--<p>fdsfdsg</p>-->
                      <!--</div>-->
                    <!--</el-option>-->
                  <!--</el-select>-->
                <!--</div>-->
                <div class="text-center col-sm-12 pt-5">
                  <button @click="checkContent" class="btn btn-pink px-5">
                    Lưu thông tin
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Popup confirm lưu thông tin -->
    <div v-if="showPopup" class="popup">
      <div @click="reloadLocation()" class="popup-overlay"></div>
      <div class="popup-inner p-5 text-center">
        <h3 class="mb-5">Bạn có muốn lưu thông tin khách hàng ???</h3>
        <button @click="reloadLocation" class="btn btn-default mr-4">Hủy</button>
        <button @click="saveInfo" class="btn btn-pink">Lưu</button>
      </div>
    </div>
    <!-- Popup change password -->
    <div v-if="showChangePass" class="popup">
      <div @click="showChangePass = false" class="popup-overlay"></div>
      <div class="popup-inner p-5">
        <h3 class="mb-5 text-center">Thay đổi mật khẩu</h3>
        <div class="mb-4">
          <small>Nhập mật khẩu cũ</small>
          <input
            v-model="pass.OldPassword"
            v-validate="'required'"
            class="form-control mt-2"
            type="password"
            name="oldPassword"
          >
          <small class="text-danger">{{ veeErrors.first('oldPassword') }}</small>
        </div>
        <div class="mb-4">
          <small>Nhập mật khẩu mới</small>
          <input
            v-model="pass.NewPassword"
            v-validate="'required'"
            class="form-control mt-2"
            type="password"
            name="newPassword"
          >
          <small class="text-danger">{{ veeErrors.first('newPassword') }}</small>
        </div>
        <div class="mb-4">
          <small>Nhập lại mật khẩu</small>
          <input
            v-model="pass.NewPasswordConfirm"
            v-validate="'required'"
            class="form-control mt-2"
            type="password"
            name="newPasswordConfirm"
          >
          <small class="text-danger">{{ veeErrors.first('newPasswordConfirm') }}</small>
        </div>
        <div class="mb-4">
          <small class="text-danger">* Bạn có chắc chắn muốn thay đổi mật khẩu, sau khi đổi mật khẩu thành công bạn sẽ cần đăng nhập lại
          </small>
          <label class="checkbox-custom mr-3 mt-4">
            Tôi chắc chắn về việc này
            <input
              type="checkbox"
              v-model="isChangePass"
            >
            <span class="checkmark"></span>
          </label>
        </div>
        <ErrorMessage v-if="errorMessage" :content="errorMessage"/>
        <div class="text-right pt-4">
          <button :disabled="!isChangePass" @click="changePass" class="btn btn-pink pull-right">Cập nhật mật khẩu</button>
          <button @click="showChangePass = false" class="btn btn-default mr-4 pull-right">Hủy</button>
        </div>
      </div>
    </div>
    <!-- Popup sync -->
    <div v-if="showSync" class="popup">
      <div @click="showSync = false" class="popup-overlay"></div>
      <div class="popup-inner p-5">
        <template v-if="!userInfo.Sync">
          <div class="text-center mb-4">
            <h3>Đồng bộ tài khoản</h3>
            <small>Vui lòng đọc kỹ điều khoản trước khi ấn xác nhận đồng bộ</small>
          </div>
          <div class="row">
            <div class="col-sm-6 mb-4">
              <small>Tên người dùng</small>
              <input
                v-model="userInfo.SyncAccount"
                v-validate="'required'"
                class="form-control mt-2"
                type="text"
                name="SyncAccount"
              >
              <small class="text-danger">{{ veeErrors.first('SyncAccount') }}</small>
            </div>
            <div class="col-sm-6 mb-4">
              <small>Mật khẩu</small>
              <input
                v-model="userInfo.SyncPassword"
                v-validate="'required'"
                class="form-control mt-2"
                type="password"
                name="SyncPassword"
              >
              <small class="text-danger">{{ veeErrors.first('SyncPassword') }}</small>
            </div>
            <!--<div class="col-sm-12 mb-4">-->
              <!--<small>Tên công ty</small>-->
              <!--<el-select class="w-100 mt-2" v-model="userInfo.CompanyId" placeholder="Tùy chỉnh nhắc lại" filterable>-->
                <!--<el-option v-for="(company, key) in common.CompanyList"-->
                           <!--:key="company.CompanyId"-->
                           <!--:label="company.CompanyName"-->
                           <!--:value='company.CompanyId'>-->
                <!--</el-option>-->
              <!--</el-select>-->
            <!--</div>-->
            <div class="col-sm-12 mb-4">
              <small>Ghi chú</small>
              <textarea
                v-model="userInfo.SyncNote"
                class="form-control mt-2"
                type="text"
                rows="2"
              />
            </div>
            <div class="col-sm-12 mb-4">
              <small>Điều kiện và điều khoản đồng bộ</small>
              <div class="mt-2 box-view-sync">

              </div>
            </div>
            <div class="col-sm-12 mb-4">
              <label class="checkbox-custom mr-3 mt-4">
                Xác nhận đăng ký đồng bộ hóa
                <input
                  type="checkbox"
                  v-model="isSync"
                >
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="text-center pt-3">
            <button @click="showSync = false" class="btn btn-default mr-4">Hủy</button>
            <button :disabled="!isSync" @click="saveSync" class="btn btn-pink">Xác nhận đồng bộ</button>
          </div>
        </template>
        <template v-else>
          <h3>Bạn có muốn hủy đồng bộ với tài khoản <b>{{userInfo.SyncAccount}}</b></h3>
          <div class="text-center pt-3">
            <button @click="showSync = false" class="btn btn-default mr-4">Bỏ qua</button>
            <button @click="removeSync" class="btn btn-pink">Hủy đồng bộ</button>
          </div>
        </template>
      </div>
    </div>
    <div v-if="showPayMent" class="popup">
      <div @click="showPayMent = false" class="popup-overlay"></div>
      <div class="popup-inner p-5" style="max-width: 400px">
        <template v-if="!errorPayment">
          <h2 class="text-center">
            <b>Chúc mừng tài khoản của bạn đã được nâng cấp</b> <br>
          </h2>
          <div class="pt-4">
            <hr>
            <div class="d-flex justify-content-between">
              <p>Mã giao dịch:</p>
              {{this.$route.query.vnp_TransactionNo}}
            </div>
            <div class="d-flex justify-content-between mb-3">
              <p>Tổng tiền:</p>
              {{this.$route.query.vnp_Amount}}
            </div>
            <button @click="signOut" class="btn btn-pink w-100">
              Đăng nhập lại để trải nghiệm Premium
            </button>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import CustomerInsert from "~/components/form/CustomerInsert"
  import {objectToStringQuery} from '~/utils/route'
  import { sha256 } from 'js-sha256'
  import {
    Select as ElSelect,
    Option as ElOption,
  } from 'element-ui'
  import ErrorMessage from "~/components/base/ErrorMessage"
  import uploadFile from "~/mixins/uploadFile"
  import paymentError from "~/mixins/paymentError"
  import FacebookLogin from "../../components/auth/FacebookLogin";
  import PhoneUpdate from "../../components/PhoneUpdate";
  export default {
    name: "index",
    inject: ['$validator'],
    mixins: [
      uploadFile,
      paymentError
    ],
    components: {
      PhoneUpdate,
      FacebookLogin,
      ErrorMessage,
      CustomerInsert,
      ElSelect,
      ElOption,
      sha256,    },
    data() {
      return {
        userInfo: {},
        totalContract: 0,
        showPopup: false,
        common: {},
        positionList: [],
        positionName: '',
        showChangePass: false,
        showSync:false,
        pass: {},
        errorMessage: '',
        errorPayment: false,
        isChangePass: false,
        isSync: false,
        editAvata: false,
        Avatar: null,
        payUrl: '',
        showPayMent: false
      }
    },

    created(){
      this.checkPaymentComplete()
      this.userInfo = JSON.parse(localStorage.user_info)
      if(JSON.parse(localStorage.common))
        this.common = JSON.parse(localStorage.common)
      this.positionList = this.common.PositionList
      this.positionName = (this.positionList.find( e => e.PositionId === this.userInfo.PositionId ))
      if( this.positionName ) this.positionName = this.positionName.PositionName
      const payload = {
        UserId: this.userInfo.UserId,
        Fullname: this.userInfo.Fullname,
        ReturnUrl: window.location.href
      }
      this.payUrl = 'http://quatangbaohiem.com/buy/upgrade-premium' + objectToStringQuery(payload)
    },

    methods: {
      updatePhone(phone) {
        this.userInfo.Phone = phone
        localStorage.setItem('user_info', JSON.stringify(this.userInfo))
      },
      connectFbError(user) {
        this.$toast.error('Kết nối không thành công', {duration: 5000})
      },
      async connectFb(user){
        const payload = {
          FacebookId: user.id,
        }
        let data = await this.$_callUserApiGet('account/update', payload, null)
        if (data.Reason) {
          this.$toast.error('Xảy ra lỗi hoặc '+data.Reason, {duration: 8000})
        }
        else {
          this.userInfo.FacebookId = user.id
          localStorage.setItem('user_info', JSON.stringify(this.userInfo))
          this.$toast.success('Đã kết nối facebook thành công', {duration: 5000})
          location.reload()
        }
      },
      checkPaymentComplete() {
        const responCode = this.$route.query.vnp_ResponseCode
        if (responCode){
          if (responCode === '00') {
            this.showPayMent = true
          }
          else {
            this.$toast.error(
              this.paymentError.filter(e => e.code === responCode).pop().message,
              {duration:5000}
            )
            this.$router.push(this.$route.path)
          }
        }
      },
      signOut() {
        this.$_removeDataSignIn()
        location.href = '/'
      },
      async removeSync() {
        this.userInfo.Sync = 0
        const data = await this.$_callUserApiGet('account/update', {Sync : 0})
        setTimeout(() => {
          if (data.Reason) {
            this.$toast.error(data.Reason, {duration: 5000})
          }
          else {
            localStorage.setItem('user_info', JSON.stringify(this.userInfo))
            this.$toast.success(`Đã hủy đồng bộ tài khoản ${this.userInfo.SyncAccount}`, {duration: 5000})
            this.showSync = false
          }
        })
      },
      async saveSync() {
        if (!await this.$validator.validateAll()) {
          this.isSync = false
          return
        }
        const payload = {
          SyncAccount: this.userInfo.SyncAccount,
          SyncPassword: this.userInfo.SyncAccount,
          SyncNote: this.userInfo.SyncAccount,
          Sync: 1,
        }
        const data = await this.$_callUserApiGet('account/update', payload, null)
        setTimeout(() => {
          if (data.Reason) {
            this.$toast.error(data.Reason, {duration: 5000})
          }
          else {
            localStorage.setItem('user_info', JSON.stringify(this.userInfo))
            this.$toast.success(`Đã đồng bộ tài khoản ${payload.SyncAccount}`, {duration: 5000})
            this.showSync = false
          }
        })
      },
      async changePass() {
        if ( this.pass.NewPasswordConfirm !== this.pass.NewPassword ) {
          this.errorMessage = 'Mật khẩu không khớp nhau vui lòng nhập lại!'
          this.isChangePass = false
        }
        else {
          this.pass.NewPassword = sha256(this.pass.NewPassword)
          this.pass.OldPassword = sha256(this.pass.OldPassword)
          const data = await this.$_callUserApiGet('account/password/change', this.pass)
          setTimeout(() => {
            if (data.Reason) {
              this.errorMessage = data.Reason
              this.isChangePass = false
            }
            else {
              this.$toast.success('Đã đổi mật khẩu', {duration: 5000})
              this.isChangePass = false
              this.showChangePass = false
              this.pass = {}
              // setTimeout(() => {
              //   this.$_removeDataSignIn()
              //   location.href = '/'
              // })
            }
          })
        }
      },
      async checkContent() {
        if (!await this.$validator.validateAll()) return
        this.showPopup = true
      },
      reloadLocation(){
        location.reload()
      },
      async saveInfo() {
        if (!await this.$validator.validateAll()) return
        let apiUrl = 'account/update'
        const payload = {}
        payload.Fullname = this.userInfo.Fullname
        payload.Phone = this.userInfo.Phone
        payload.FacebookId = this.userInfo.FacebookId
        payload.Email = this.userInfo.Email
        payload.CompanyId = this.userInfo.CompanyId
        payload.PositionId = this.userInfo.PositionId
        payload.Area = this.userInfo.Area
        payload.Sync = this.userInfo.Sync
        payload.Sync ? payload.Sync = 1 : payload.Sync = 0
        const data = await this.$_callUserApiGet(apiUrl, payload, null)
        setTimeout(() => {
          this.showPopup = false
          if (data.Reason) {
            this.$toast.error(data.Reason, {duration: 5000})
          }
          else {
            localStorage.setItem('user_info', JSON.stringify(this.userInfo))
            this.$toast.success('Lưu thông tin thành công', {duration: 5000})
          }
        })
      },
      async updateAvatar() {
        let data = await this.__uploadFile(this.Avatar, 'Avatar')
        if(data) {
          const update = await this.$_callUserApiGet('account/update', {Avatar: data.ImagePath })
          if(update.Reason) {
            this.$toast.error(update.Reason, {duration: 5000})
          }
          else this.$toast.success('Cập nhật ảnh đại diện',{duration: 5000})
        }
      },
      viewImage() {
        this.editAvata = true
        this.Avatar = event.target.files
        let reader = new FileReader()
        let previewImg = document.querySelector('.previewImg')
        reader.addEventListener('load', function () {
          previewImg.style.backgroundImage = `url('${this.result}')`
        }, false)
        reader.readAsDataURL(this.Avatar[0])
      },
      resetAvatar() {
        this.editAvata = false
        let previewImg = document.querySelector('.previewImg')
        previewImg.style.backgroundImage = `url('${this.userInfo.Avatar}')`
      },
      async signFacebookSuccess(res) {
        this.socialSignIn(res.authResponse)
      },
      async socialSignIn(res) {
        let payload = {
          FacebookId : res.userID,
          Avatar : res.avatar,
        }
        let data = await this.$_callApiGet('account/update', payload, null)
        if(data.Reason) this.$toast.error(data.Reason,{duration: 5000})
        else {
          this.userInfo.FacebookId = payload.FacebookId
          this.userInfo.Avatar = payload.Avatar
          localStorage.setItem('user_info', JSON.stringify(this.userInfo))
          this.$toast.error('Liên kết facebook thành công',{duration: 5000})
        }
      },
      signFacebookError() {
        this.$toast.error('Đăng nhập facebook không thành công',{duration:5000})
      },
    }
  }
</script>

<style lang="css" scoped>
  .box-view-sync {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 3px;
    overflow-y: auto;
    height: 100px;
  }
</style>
