@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 10px;
}

a {
  color: #222222;
}
.main-sidebar {
  padding-top: 20px;
  /*background: linear-gradient(180deg, #BB548A 0%, #EC82BA 52.6%, #F992A6 100%);*/
  background: linear-gradient(194.14deg, #C12466 0%, #CA296A 45.43%, #D1498B 68.51%, #DB75B8 99.65%);
  color: #ffffff;
}

.main-sidebar .user-panel {
  margin-bottom: 20px;
}

.main-sidebar a {
  color: #ffffff;
}

.main-sidebar ul>li> a {
  padding: 15px;
  padding-left: 30px;
}

.main-sidebar ul>li.active>a{
  background: #9D3D6F;
  border-left: solid 5px #761346;
}
.content-wrapper {
  background-color: #F2F2F2;
}
.wrapper-body {
  padding: 30px;
}

.wapper-header {
  background-color: #fff;
  padding: 20px 30px ;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.wapper-header-title {
  font-weight: 500;
  margin-bottom: 15px;
}


/* background */

.bg-white {
  background-color: #ffffff;
}


/* spacing */
.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-5 {
  margin-top: 5px !important;
}
/* Tab */
.nav-tabs-custom {
  margin-bottom: 0;
  box-shadow: none;
}

.nav-tabs {
  border-bottom: none;
}
.nav-tabs-custom>.nav-tabs>li {
  border: none;
  padding-bottom: 8px;
  margin-right: 30px;
}
.nav-tabs-custom>.nav-tabs>li.active {
  border: none;
  position: relative;
  font-weight: bold;
}

.nav-tabs-custom>.nav-tabs>li.active:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #c12466;
}

/* Text color*/
.text-pink {
  color: #c12466;
}

/* form */

input, select {
  height: 35px;
  border: 2px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0 10px;
}

label {
  margin-bottom: 0;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  z-index: 2;
  top: 8px;
  left: 10px;
  color: #aaaaaa;
}

.input-icon input {
  padding-left: 30px;
}

.pagination {
  margin-bottom: 0;
}
@media (max-width: 900px){
  .table-list {
    min-width: 900px;
  }
}
.table td, .table th {
  vertical-align: middle !important;
}


/* b-pagination */
.b-pagination .page-link{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #939393;
  font-size: 14px;
}
.page-item.active .page-link {
  background-color: #939393;
  border-radius: 3px;
}


/* swicth */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #EE84B7;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #EE84B7;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}



.table-list tbody {
  font-size: 1.4rem;
}
.table-list-action {
  text-align: center;
  vertical-align: middle;
}
.table-list button {
  color: #939393;
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.table-list .watched {
  background-color: #EBECEE;
  font-weight: bold;
}

/* bg-img */
.bg-img {
  background-color: #F5F5F5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.bg-img-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none !important;
  background-color: #0000006d;
  color: #ffffff;
}
.bg-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #0000006d;
  color: #ffffff;
}
.bg-img input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.bg-img:hover>.bg-img-inner {
  display: flex !important;
  cursor: pointer;
}

.bg-img-11 {
  width: 100%;
  padding-top: 100%;
}
.bg-img-34 {
  width: 100%;
  padding-top: calc(100% * 3/4);
}

.circle {
  border-radius: 50%;
}

.fixed .content-wrapper, .fixed .right-side {
  padding-top: 0 !important;
}

.wapper-header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

@media (max-width: 640px) {
  .wrapper-body {
    padding: 30px 8px;
  }
  .bg-white {
    overflow-x: auto;
  }
}
