@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fgpvdv');
  src:  url('../fonts/icomoon.eot?fgpvdv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fgpvdv') format('truetype'),
    url('../fonts/icomoon.woff?fgpvdv') format('woff'),
    url('../fonts/icomoon.svg?fgpvdv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video-play:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e901";
}
.icon-pen-tool:before {
  content: "\e902";
}
.icon-check-circle-fill:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e905";
}
.icon-clock-ring:before {
  content: "\e906";
}
.icon-return:before {
  content: "\e907";
}
.icon-calendar-chose:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-calendar-check:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e90b";
}
.icon-delete:before {
  content: "\e90c";
}
.icon-email-close:before {
  content: "\e90d";
}
.icon-email-open:before {
  content: "\e90e";
}
.icon-info:before {
  content: "\e90f";
}
.icon-news:before {
  content: "\e910";
}
.icon-noti:before {
  content: "\e911";
}
.icon-people:before {
  content: "\e912";
}
.icon-video:before {
  content: "\e913";
}
