<template>
  <div>
    <input type="text" required v-model="payload.email">
    <input type="text" required v-model="payload.password">
    <button @click="login" >Đăng nhập</button>
  </div>
</template>

<script>
  export default {
    layout: 'client',
    auth: false,
    name: "signin",
    data() {
      return {
        payload : {
          email: '',
          password: '',
          type: 'Email'
        }
      }
    },

    methods: {
      async login(){
        try {
          await this.$store.dispatch(AUTH_SIGN_IN, { payload: this.payload })
        } catch (e) {
          console.log(e);
        }
      },
    }
  }
</script>
