<template>
  <div class="alert--danger">
    {{content}}
  </div>
</template>

<script>
  export default {
    name: "ErrorMessage",
    props: {
      content: {
        type: String,
        default: 'Đã có lỗi'
      }
    }
  }
</script>

<style scoped>

</style>
