<template>
  <div class="load-container">
    <div class="load">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Loading"
  }
</script>

<style lang="scss" scoped>
  $spinner-size: 1.6rem;
  $animation-speed: 1.2s;

  .load-container{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffffbf;
  }

  .load{
    span{
      display: inline-block;
      width: $spinner-size;
      height: $spinner-size;
      background-color: #000000;
      border-radius: 50%;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-animation: $animation-speed infinite bubble ease-in-out;
      animation: $animation-speed infinite bubble ease-in-out;
    }
    span:nth-child(1){
      background-color: #BB548A;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    span:nth-child(2){
      background-color: #EC82BA;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    span:nth-child(3){
      background-color: #f58dac;
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
  }

  @keyframes bubble{
    0%{
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    50%{
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100%{
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
</style>
