<template>
  <div class="position-relative">
    <div v-if="show" class="popup">
      <div @click="show = false" class="popup-overlay"></div>
      <div class="popup-inner p-3">
        <div class="popup-close" @click="show = false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <iframe
          width="100%"
          height="400px"
          frameborder="0"
          allow="autoplay"
          :src="'https://www.youtube.com/embed/'+ getIDYoutube(courseInfo.TrailerUrl)"
        >
        </iframe>
      </div>
    </div>
    <div class="wapper-header pb-2">
      <h3 class="text-pink wapper-header-title">Khóa học</h3>
    </div>
    <div class="wrapper-body position-relative">
      <div class="course-card img-small d-flex">
        <div
          @click="show = true"
          class="course-card--img"
          :style="{ 'background-image': 'url(' + courseInfo.ImageUrl.replace('http://', 'https://') + ')' }">
          <div class="course-card--img-before">
            <i class="fa fa-play-circle-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="course-card--body d-flex justify-content-between flex-column">
          <div class="course-card--txt">
            <h3 class="course-card--title">
              {{courseInfo.Name}}
            </h3>
            <div class="course-card--des">{{courseInfo.Description}}</div>
          </div>
          <a
            v-if="!isActive && courseInfo.Type" style="width: 200px"
            :href="payUrl"
            class="btn btn-pink">
            Đăng ký khóa học
          </a>
        </div>
      </div>
      <div class="row flex-column-reverse flex-lg-row">
        <div class="col-md-8">
          <div class="bg-white py-3">
            <h2 class="px-4 mt-4"><b>Danh sách bài học</b></h2>
            <div class="lesson">
              <div
                @click="openVideoLesson(i)"
                v-for="(lesson, i) in courseInfo.Lessons"
                :key="i"
                class="lesson-item d-flex justify-content-between align-items-center"
              >
                <div class="pr-3">
                  <i v-if="isActive" class="fa fa-play mr-3" aria-hidden="true"></i> {{lesson.Name}}
                </div>
                <p>
                  <small>Thời lượng:</small>
                  <span class="text-pink">{{lesson.VideoDuration}} p</span>
                  <i v-if="isActive" class="fa fa-check ml-3 text-success" aria-hidden="true"></i>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="bg-white p-5">
            <div class="d-flex justify-content-between">
              <p><i class="fa fa-user mr-4 mt-1"></i> Giảng viên :</p>
              <p>
                {{courseInfo.Author}}
              </p>
            </div>
            <div class="d-flex justify-content-between">
              <p><i class="fa fa-tags mr-4 mt-1"></i> Giá :</p>
              <p>
                <b>{{ courseInfo.Type ? courseInfo.Price : 'Free' }}</b>
              </p>
            </div>
          </div>
        </div>
      </div>
      <Loading v-if="loading"/>
    </div>
    <div v-if="showLesson" class="popup">
      <div @click="showLesson = false" class="popup-overlay"></div>
      <div class="popup-inner p-3">
        <div class="popup-close" @click="showLesson = false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <h2 class="py-3"><b>{{lesson.Name}}</b></h2>
        <iframe
          width="100%"
          height="400px"
          frameborder="0"
          allow="autoplay"
          allowfullscreen="allowfullscreen"
          :src="lesson.Link"
        >
        </iframe>
      </div>
    </div>
    <div v-if="showPayMent" class="popup">
      <div @click="showPayMent = false" class="popup-overlay"></div>
      <div class="popup-inner p-5" style="width: 320px">
        <template v-if="errorPayment">
          <h2 class="text-center">
            <b>Thanh toán thành công</b> <br>
          </h2>
          <div class="pt-4">
            <p class="text-pink">{{this.$route.query.vnp_OrderInfo}}</p>
            <hr>
            <div class="d-flex justify-content-between">
              <p>Mã giao dịch:</p>
              {{this.$route.query.vnp_TransactionNo}}
            </div>
            <div class="d-flex justify-content-between mb-3">
              <p>Tổng tiền:</p>
              {{this.$route.query.vnp_Amount}}
            </div>
            <button @click="reloadCourse" class="btn btn-pink w-100">
              Vào học ngay
            </button>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import Loading from "~/components/base/Loading"
  import {getIDYoutube} from "~/utils/common"
  import {objectToStringQuery} from '~/utils/route'
  import paymentError from "~/mixins/paymentError"

  export default {
    name: "CourseInfo",
    components: {Loading},
    mixins: [
      paymentError,
    ],
    data() {
      return {
        courseInfo: [],
        page: 1,
        perPage: 15,
        loading: false,
        show: false,
        showLesson: false,
        lesson: '',
        isActive: false,
        userInfo: {},
        payUrl: '',
        showPayMent: false,
        errorPayment: false,
        errorCode: ''
      }
    },

    computed: {
      courseId() {
        return this.$route.params.id
      },
    },

    created() {
      this.getCourseInfo()
      this.checkPaymentComplete()
    },

    mounted() {
      this.userInfo = JSON.parse(localStorage.user_info)
      const payload = {
        UserId: this.userInfo.UserId,
        Token: this.userInfo.Token,
        CourseId: this.courseId,
        ReturnUrl: window.location.href
      }
      this.payUrl = 'http://quatangbaohiem.com/buy/course' + objectToStringQuery(payload)
    },

    methods: {
      reloadCourse() {
        this.showPayMent = false
        this.$router.push(this.$route.path)
      },
      checkPaymentComplete() {
        const responCode = this.$route.query.vnp_ResponseCode
        if (responCode) {
          this.loading = true
          if (responCode === '00') {
            setTimeout(() => {
              if (this.checkCoursePayment()) {
                this.addCourse()
                this.showPayMent = true
              }
            }, 2000)
          }
          else {
            this.$toast.error(
              this.paymentError.filter(e => e.code === responCode).pop().message,
              {duration:5000}
            )
            this.$router.push(this.$route.path)
          }
          this.loading = false
        } else {
          this.errorPayment = true
        }
      },

      async addCourse() {
        const data = await this.$_callUserApiGet('user/course/add', {
          CourseId: this.courseId,
          Status: 1
        })
        if (data.Reason) this.$toast.error(data.Reason, {duration: 5000})
      },

      async checkCoursePayment() {
        const data = await this.$_callUserApiGet('purchase/exist', {
          CourseId: this.courseId
        })
        if (data.Reason) {
          this.$toast.error(data.Reason, {duration: 5000})
          return false
        }
      },
      async getCourseInfo() {
        this.loading = true
        let StartIndex = 0
        if (this.page !== 1) StartIndex = this.page * this.perPage
        const pageSection = [StartIndex, this.perPage]
        const data = await this.$_callUserApiGet('course/detail', {CourseId: this.courseId}, pageSection)
        this.courseInfo = data.Course
        this.isActive = data.Course.Lessons[0].Link
        setTimeout(() => this.loading = false)
      },

      getIDYoutube(link) {
        if (link) return link.split("v=").pop()
        else return ''
      },

      openVideoLesson(id) {
        if (this.isActive) {
          this.lesson = this.courseInfo.Lessons[id]
          this.showLesson = true
        }
      }
    }
  }
</script>

