<template>
  <div>
    <div class="wapper-header pb-0">
      <h3 class="text-pink wapper-header-title">Khóa học</h3>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li @click="getAll(), hiddenActive = true" class="active"><a href="#tab_dk" data-toggle="tab">Khóa học mới</a></li>
          <li @click="getCoursesActive"><a href="#tab_dk" data-toggle="tab">Đã đăng ký</a></li>
        </ul>
        <!-- /.tab-content -->
      </div>
    </div>
    <div class="wrapper-body position-relative">
      <div class="row">
        <template v-for="i in courses">
          <div :key="i.CourseId" class="col-md-6">
            <div class="course-card d-flex">
              <div
                class="course-card--img"
                :style="{ 'background-image': 'url(' + i.ImageUrl.replace('http://', 'https://') + ')' }">
              </div>
              <div class="course-card--body d-flex justify-content-between flex-column">
                <div class="course-card--txt">
                  <h3 class="course-card--title">
                    {{i.Name}}
                  </h3>
                  <div class="course-card--des">{{i.Description}}</div>
                  <div class="d-flex">
                    <i class="fa fa-user"></i>
                    <p>
                      {{i.Author}}<br>
                    </p>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center course-card--price">
                  <b v-if="i.Registered"><i class="fa fa-check"></i> Đã mua</b>
                  <b v-else :class="i.Type ? 'text-danger' : 'text-success'">
                    {{i.Type ? `${formatPrice(i.Price)} vnđ` : 'Free'}}
                  </b>
                  <nuxt-link target="_blank" :to="`course/${i.CourseId}`" class="pull-right text-info">
                    <b>{{i.Registerd ? 'Vào học' : 'Tham gia học'}} ></b>
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
      <Loading v-if="loading"/>
      <div v-if="courses">
        <EmptyData v-if="!courses.length && !loading" page="KhoaHoc"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Loading from "~/components/base/Loading"
  import EmptyData from "~/components/EmptyData"
  import price from "~/mixins/price"

  export default {
    name: "index",
    components: {EmptyData, Loading},
    mixins: [
      price
    ],
    data() {
      return {
        courses: [],
        page: 1,
        perPage: 100,
        loading: false,
        coursesActive: [],
        hiddenActive: false,
      }
    },
    created() {
      this.getAll()
    },
    methods: {
      async getCoursesActive() {
        this.loading = true
        let StartIndex = 0
        if (this.page !== 1) StartIndex = this.page * this.perPage
        const pageSection = [StartIndex, this.perPage]
        const data = await this.$_callUserApiGet('user/courses', [], pageSection)
        this.courses = data.Courses
        setTimeout(() => this.loading = false)
      },

      async getAll() {
        this.loading = true
        let StartIndex = 0
        if (this.page !== 1) StartIndex = this.page * this.perPage
        const pageSection = [StartIndex, this.perPage]
        const data = await this.$_callUserApiGet('course/get', [], pageSection)
        this.courses = data.Courses.filter(e => !e.Registerd)
        setTimeout(() => this.loading = false)
      }
    }
  }
</script>

<style scoped>

</style>
