<template>
  <div class="footer-client container py-5 mt-4" id="lien-he">
    <div class="row">
      <div class="col-lg-5">
        <h3 class="text-pink"><b>Công ty Cổ phần Công nghệ và Đào tạo Quà Tặng Bảo Hiểm</b></h3>
        <p class="mt-3">
          Quà Tặng Bảo Hiểm là công ty tiên phong trong việc giúp các anh chị tư vấn tài chính khai phá thị trường Bảo
          hiểm nhân thọ trực tuyến, một thị trường vô cùng tiềm năng nhưng đang bị bỏ ngỏ. Chúng tôi cung cấp nhiều giải
          pháp và công cụ cho các anh chị, và hầu hết là miễn phí. Chúng tôi mang sứ mệnh đồng hành cùng anh chị, giúp
          các anh chị làm chủ cuộc chơi trên thị trường mới mẻ và vô cùng năng động này.
        </p>
        <p class="mt-3">© QTBH Corporation 2019</p>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3">
        <h3><b class="text-pink">Điều khoản</b></h3>
        <nuxt-link to="/quyen-rieng-tu">Quyền riêng tư</nuxt-link><br>
        <nuxt-link to="/dieu-khoan-su-dung">Điều khoản sử dụng</nuxt-link>
      </div>
      <div class="col-lg-3 text-center">
        <h3><b class="text-pink">Kết nối với chúng tôi</b></h3>
        <a target="_blank" href="https://www.facebook.com/quatangbaohiem/"><img width="60" src="/images/fb-color.jpg" alt=""></a>
        <a href="mailto:contact@quatangbaohiem.com"><img width="60" src="/images/mail-color.jpg" alt=""></a>
        <a target="_blank" href="https://www.youtube.com/channel/UC-ZtREslZsFz7b6oV-dNynA?sub_confirmation=1"><img width="60" src="/images/youtube-color.jpg" alt=""></a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "FooterClient"
  }
</script>

<style lang="scss">

</style>
