<template>
  <div>
    <ClientHeader class="header-white"/>
    <div class="container" style="padding-top: 80px">
      <div>
        <span> Tin tức </span>>
        <nuxt-link class="text-info" :to="'/tin-tuc/chuyen-muc/'+ newsInfo.CategoryId">
          {{checkCategoryName(newsInfo.CategoryId)}}
        </nuxt-link>
      </div>
      <hr>
      <div class="row">
        <div style="position: sticky; top: 0; position: -webkit-sticky;" class="col-md-4">
          <div>
            <h2 class="text-pink mt-4"><b>{{newsInfo.Title}}</b></h2>
            <p class="text-black-50">Đăng ngày: {{formatDate(newsInfo.CreatedTime)}}</p>
            <img class="w-100 my-4" :src="newsInfo.ImageUrl.replace('http://', 'https://')" alt="">
          </div>
          <FbLikeShare />
          <div class="mt-3">
            <FbComment />
          </div>
        </div>
        <div class="col-md-8 mt-4">
          <div class="news-content" v-html="newsInfo.Content">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ClientHeader from '~/components/header/ClientHeader'
  import dateFormat from "~/mixins/dateFormat"
  import FbComment from '~/components/facebook/FbComment'
  import FbLikeShare from '~/components/facebook/FbLikeShare'

  export default {
    name: "clientNewsInfo",
    layout: 'client',
    mixins: [dateFormat],
    components: {FbLikeShare, FbComment, ClientHeader},
    head () {
      return {
        title: this.newsInfo.Title,
        meta: [
          { property:"og:type", content:"article"},
          { property:"og:url", content: this.url},
          { property:"og:title", content:this.newsInfo.Title},
          { property:"og:description", content: 'Quà tặng bảo hiểm'},
          { property:"og:image", content: this.newsInfo.ImageUrl.replace('http://', 'https://')},
        ]
      }
    },
    data() {
      return {
        newsInfo: [],
        categories: []
      }
    },
    created() {
      this.getNewInfo()
    },
    methods: {
      async getNewInfo() {
        this.newsInfo = (await this.$_callApiGet('news/detail', {NewsId: this.$route.params.id})).News
        this.categories = (await this.$_callApiGet('common/index', {CategoryId: 0}, [0, 5])).NewsCategoryList
      },
      checkCategoryName(id) {
        const data = this.categories.filter(e => e.CategoryId == id)[0]
        if (data) return data.CategoryName
        else return ''
      }
    }
  }
</script>
