<template>
  <div>
    <nuxt/>
    <FooterClient/>
  </div>
</template>

<script>
  import FooterClient from "~/components/footer/FooterClient"

  export default {
    name: "client",
    components: {FooterClient}
  }
</script>
