<template>
  <div class="hold-transition skin-blue sidebar-mini fixed">
    <div class="wrapper">
      <AdminHeader />
      <AdminMenu />
      <div class="content-wrapper">
        <nuxt />
      </div>
    </div>
  </div>
</template>
<script>
  import AdminMenu from "~/components/menu/AdminMenu"
  import AdminHeader from "../components/header/AdminHeader";
  export default {
    components: {
      AdminHeader,
      AdminMenu
    },
  }
</script>
