<template>
  <div>
    <ClientHeader class="header-white"/>
    <div class="container" style="padding-top: 80px">
      <Dksd class="pt-4"/>
      <hr>
    </div>
  </div>
</template>

<script>
  import ClientHeader from "~/components/header/ClientHeader"
  import Dksd from "~/components/Dksd"
  export default {
    name: "chinh-sach-bao-mat",
    layout: 'client',
    components: {
      ClientHeader,
      Dksd
    }
  }
</script>

<style scoped>

</style>
