<template>
  <div>
    <ClientHeader/>
    <BannerHome/>
    <section class="container py-5" id="gioi-thieu">
      <h1 class="text-center text-pink mb-5"><b>GIỚI THIỆU VỀ ỨNG DỤNG</b></h1>
      <div class="row">
        <div class="col-md-6">
          <img class="w-100" src="/images/mockup-intro.jpg" alt="">
        </div>
        <div class="col-md-6 pt-5">
          <p>
            Quà Tặng Bảo Hiểm là ứng dụng hỗ trợ làm việc cho đội ngũ tư vấn tài chính, tư vấn bảo hiểm tại Việt Nam.
            Ứng dụng đưa ra các gói công cụ và khóa học phù hợp với tất cả các anh chị tư vấn bảo hiểm, nhằm mang lại
            hiệu quả tốt hơn cho công việc kinh doanh của các anh chị. Ứng dụng được hỗ trợ trên nền tảng trình duyệt
            máy tính và iOS , dự kiến phát triển trên nền tảng Android trong tương lai gần.
          </p>
          <div class="d-flex align-items-center pt-4">
            <a target="_blank" href="https://apps.apple.com/app/id1468449187" class="text-uppercase btn btn-default btn-white shadow py-3 px-5">
              <img style="margin-top: -5px" src="/images/icon/apple.svg" alt="">
              <span>App Store</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <div style="background-color: #FBFBFB" class="py-5">
      <section class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="function__item d-flex mb-5">
              <div class="text-right">
                <h3><b class="text-pink">QUẢN LÝ KHÁCH HÀNG</b></h3>
                <p class="mt-3">
                  Quản lý khách hàng và danh sách hợp đồng thông minh. Tự động nhắc lịch thu phí, sinh nhật.
                </p>
              </div>
              <h2><i class="icon-people text-pink ml-5"></i></h2>
            </div>
            <div class="function__item d-flex mb-5">
              <div class="text-right">
                <h3><b class="text-pink">LỊCH LÀM VIỆC</b></h3>
                <p class="mt-3">
                  Chủ động quản lý công việc cá nhân, công ty, quản lý thời gian hiệu quả
                </p>
              </div>
              <h2><i class="icon-calendar text-pink ml-5 mb-5"></i></h2>
            </div>
            <div class="function__item d-flex">
              <div class="text-right">
                <h3><b class="text-pink">BẢN TIN BẢO HIỂM</b></h3>
                <p class="mt-3">
                  Cập nhật tin tức, bài viết mới nhất về bảo hiểm nhân thọ
                </p>
              </div>
              <h2><i class="icon-news text-pink ml-5"></i></h2>
            </div>
          </div>
          <div class="col-lg-4">
            <img class="w-100" src="/images/mockup-pc.jpg" alt="">
          </div>
          <div class="col-lg-4">
            <div class="function__item d-flex mb-5">
              <h2><i class="icon-video text-pink mr-5"></i></h2>
              <div class="text-left">
                <h3><b class="text-pink">ĐÀO TẠO</b></h3>
                <p class="mt-3">
                  Cung cấp kiến thức từ cơ bản đến nâng cao về BHNT online
                </p>
              </div>
            </div>
            <div class="function__item d-flex mb-5">
              <h2><i class="fa fa-user-plus text-pink mr-5"></i></h2>
              <div class="text-left">
                <h3><b class="text-pink">KẾT NỐI ĐỘI NHÓM</b></h3>
                <p class="mt-3">
                  Đồng bộ lịch làm việc đội nhóm, tăng hiệu quả làm việc chung
                </p>
              </div>
            </div>
            <div class="function__item d-flex mb-5">
              <h2><i class="icon-phone text-pink mr-5"></i></h2>
              <div class="text-left">
                <h3><b class="text-pink">HỖ TRỢ TƯ VẤN</b></h3>
                <p class="mt-3">
                  Luôn sẵn sàng hỗ trợ người dùng, giải đáp thắc mắc và tư vấn nghiệp vụ
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="container py-5" id="tin-tuc">
      <h1 class="text-center"><b class="text-pink">TIN TỨC NỔI BẬT</b></h1>
      <SlideNews />
    </section>
  </div>
</template>

<script>
  import 'vue-glide-js/dist/vue-glide.css'
  import {Glide, GlideSlide} from 'vue-glide-js'
  import ClientHeader from "~/components/header/ClientHeader"
  import {defaultGlideOpts} from '~/utils/carousel'
  import BannerHome from "~/components/BannerHome";
  import SlideNews from "~/components/news/slideNews";
  import { scrollToEl } from "~/utils/browser";

  export default {
    layout: 'client',
    components: {
      SlideNews,
      BannerHome,
      [Glide.name]: Glide,
      [GlideSlide.name]: GlideSlide,
      ClientHeader
    },

    mounted() {
      if(this.$route.hash) {
        setTimeout(() => {
          scrollToEl(this.$route.hash)
        }, 800)
      }
    },
    data() {
      return {
        glideOpts: {
          ...defaultGlideOpts,
          perView: 1,
        }
      }
    },
  }
</script>
