<template>
  <div>
    <ClientHeader class="header-white"/>
    <div class="container" style="padding-top: 80px">
      <Qrt class="pt-4"/>
      <hr>
    </div>
  </div>
</template>

<script>
  import ClientHeader from "~/components/header/ClientHeader"
  import Qrt from "~/components/Qrt"
  export default {
    name: "Quyen-rieng-tu",
    layout: 'client',
    components: {
      ClientHeader,
      Qrt
    }
  }
</script>

<style scoped>

</style>
