<template>
  <div>
    <div id="fb-root"/>
    <div ref="fbSignInBtn">
      <slot/>
    </div>
  </div>
</template>

<script>
  export default {
    name: "FacebookLogin",
    data: () => ({
      loginStatus: false,
    }),
    mounted() {
      this.login()
    },
    methods: {
      login() {
        this.$refs.fbSignInBtn.addEventListener('click', () => {
          window.FB.login(res => {
            const userid = res.authResponse.userID
            if (res && res.status === 'connected') {
              window.FB.api('/me', {"fields":"email,name,picture"}, res => {
                this.$emit('success', res)
              });
            }
            else this.$emit('error', res)
          }, {
            scope: 'email',
            return_scopes: true,
          });
        })
      },
    }
  }
</script>

<style scoped>

</style>
