<template>
  <div>
    <form v-if="!isUpdateInfo" @submit.stop.prevent="signUp">
      <div class="row mb-5">
        <div class="col-md-6 mb-4">
          <small>Tên của bạn *</small>
          <input
            v-model="payload.Fullname"
            v-validate="'required'"
            name="fullname"
            class="form-control mt-2"
            type="text"
            placeholder="Nhập tên của bạn"
          >
          <small class="text-danger">{{ veeErrors.first('fullname') }}</small>
        </div>
        <div class="col-md-6 mb-4">
          <small>Số điện thoại *</small>
          <input
            v-model="payload.Phone"
            v-validate="'required'"
            name="phone"
            class="form-control mt-2"
            type="text"
            placeholder="Nhập số điện thoại"
            @change="isActivePhone = false"
          >
          <small class="text-danger">{{ veeErrors.first('phone') }}</small>
        </div>
        <div class="col-md-6 mb-4">
          <small>Email *</small>
          <input
            v-model="payload.Email"
            v-validate="'required|email'"
            class="form-control mt-2"
            name="email"
            type="text"
            placeholder="Nhập địa chỉ email"
          >
          <small class="text-danger">{{ veeErrors.first('email') }}</small>
        </div>
        <div class="col-md-6 mb-4">
          <small>Nhập lại địa chỉ email *</small>
          <input
            v-validate="{ is: payload.Email }"
            name="email_confirm"
            class="form-control mt-2"
            type="text"
            placeholder="Nhập lại địa chỉ email"
          >
          <small class="text-danger">{{ veeErrors.first('email_confirm') }}</small>
        </div>
        <div class="col-md-6 mb-4">
          <small>Mật khẩu *</small>
          <input
            v-model="password"
            v-validate="'required'"
            name="password"
            class="form-control mt-2"
            type="password"
            placeholder="Nhập mật khẩu"
          >
          <small class="text-danger">{{ veeErrors.first('password') }}</small>
        </div>
        <div class="col-md-6 mb-4">
          <small>Nhập lại mật khẩu *</small>
          <input
            v-validate="'required'"
            name="password_confirmation"
            class="form-control mt-2"
            type="password"
            placeholder="Nhập lại mật khẩu"
          >
          <small class="text-danger">{{ veeErrors.first('password_confirmation') }}</small>
        </div>
      </div>
      <ErrorMessage v-if="errorMessage" :content="errorMessage"/>
      <div class="text-center mb-5">
        <button @click="signUp" class="btn btn-pink px-5">
          Đăng ký
        </button>
      </div>
    </form>
    <template v-else="isUpdateInfo" >
      <div class="text-center mb-5 mt-5">
        <p>Bạn đã tạo tài khoản thành công. Vui lòng kết nối tài khoản facebook để tiếp tục đăng nhập</p>
        <FacebookLogin @success="connectFb" @error="connectFbError">
          <button class="btn btn-primary">
            Kết nối Facebook
          </button>
        </FacebookLogin>
        <a href="/" class="text-pink mt-3 pointer"><span>Kết nối sau</span></a>
      </div>
    </template>
  </div>
</template>

<script>
  import ErrorMessage from "~/components/base/ErrorMessage"
  import injectScripts from '~/mixins/injectScripts'
  import {sha256} from 'js-sha256'
  import FacebookLogin from "./FacebookLogin";

  export default {
    name: "SignUp",
    inject: ['$validator'],
    mixins: [
      injectScripts,
    ],
    components: {
      ErrorMessage,
      sha256,
      FacebookLogin
    },
    data() {
      return {
        payload: {},
        errorMessage: '',
        isActivePhone: false,
        password: '',
        isUpdateInfo:false,
        userInfo: {}
      }
    },
    methods: {
      async signUp() {
        if (!await this.$validator.validateAll()) return
        this.errorMessage = ""
        //Remove comment when use FacebookAccountKit
        if (this.isActivePhone) {
          this.signUpStep()
        }
        else this.smsSignUp()
      },

      async signUpStep() {
        this.payload.AccountType = 0
        const payload = this.payload
        payload.Password = sha256(this.password)
        const data = await this.$_callApiGet('account/register', payload, null)
        const common = await this.$axios.$get('common/index')
        setTimeout(async () => {
          if (data.Reason) {
            this.errorMessage = data.Reason
          }
          else {
            payload.type = 'Email'
            let dataLogin = await this.$_callApiGet('account/login', payload, null)
            this.isUpdateInfo = true
            this.userInfo = dataLogin.User
          }
        })
      },

      smsSignUp() {
        const countryCode = '+84'
        const phoneNumber = this.payload.Phone
        window.AccountKit.login(
          'PHONE',
          {
            countryCode: countryCode,
            phoneNumber: phoneNumber
          },
          this.SignUpCallback
        );
      },

      SignUpCallback(response) {
        if (response.status === "PARTIALLY_AUTHENTICATED") {
          this.isActivePhone = true
          this.signUpStep()
        }
        else if (response.status === "NOT_AUTHENTICATED") {
          this.errorMessage = 'Vui lòng xác thực số điện thoại'
        }
      },

      connectFbError(user) {
        this.$toast.error('Kết nối không thành công', {duration: 5000})
      },
      async connectFb(user){
        const payload = {
          FacebookId: user.id,
          UserId: this.userInfo.UserId,
          Token: this.userInfo.Token,
        }
        let data = await this.$_callApiGet('account/update', payload, null)
        if (data.Reason) {
          this.$toast.error('Xảy ra lỗi hoặc '+ data.Reason, {duration: 8000})
        }
        else {
          this.userInfo.FacebookId = user.id
          this.$_setDataSignIn(this.userInfo, this.commonData)
          setTimeout(() => location.href = '/me/news')
        }
      },
    }
  }
</script>
