<template>
  <div class="position-relative">
    <Loading v-if="loading" />
    <template v-if="!isResetPass && !isUpdateInfo">
      <div v-if="isSendMailReset" class="alert-success text-center mb-4 py-2">
        <small>Vui lòng đăng nhập bằng mật khẩu mới đã được gửi về mail của bạn.</small>
      </div>
      <form @submit.stop.prevent="signIn">
      <div class="row mb-5">
        <div class="col-md-6">
          <small>Email hoặc số điện thoại</small>
          <input
            v-model="username"
            v-validate="'required'"
            name="account"
            class="form-control mt-2"
            type="text"
            placeholder="Nhập email hoặc số điện thoại" required
          >
          <small class="text-danger">{{ veeErrors.first('account') }}</small>
        </div>
        <div class="col-md-6">
          <small>Mật khẩu</small>
          <input v-model="password" class="form-control mt-2" type="password" placeholder="Nhập mật khẩu"
                 required>
        </div>
      </div>
      <ErrorMessage v-if="errorMessage" :content="errorMessage"/>
      <div class="text-center mb-5">
        <button @click="signIn" class="btn btn-pink px-5">
          Đăng nhập
        </button>
        <p class="mt-3 text-pink pointer">
          <small @click="openResetPass"><i class="fa fa-exclamation"></i> Quên mật khẩu</small>
        </p>
      </div>
      </form>
    </template>
    <template v-else-if="isResetPass && !isUpdateInfo" >
      <h4 class="text-center text-uppercase text-pink">Quên mật khẩu</h4>
      <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
          <input
            v-model="emailReset"
            v-validate="'required|email'"
            name="emailReset"
            class="form-control mt-2"
            type="text"
            placeholder="Nhập địa chỉ email của bạn" required
          >
          <small class="text-danger">{{ veeErrors.first('emailReset') }}</small>
          <ErrorMessage v-if="errorMessage" :content="errorMessage"/>
        </div>
      </div>
      <div class="text-center mb-5">
        <button @click="resetPass" class="btn btn-pink px-5">
          Cấp lại mật khẩu
        </button>
        <p @click="isResetPass = false" class="mt-3 text-pink pointer">
          <small>Đăng nhập</small>
        </p>
      </div>
    </template>
    <template v-if="isUpdateInfo" >
      <div class="text-center mb-5 mt-5">
        <p>Vui lòng kết nối tài khoản facebook để tiếp tục đăng nhập</p>
        <FacebookLogin @success="connectFb" @error="connectFbError">
          <button class="btn btn-primary">
            Kết nối Facebook
          </button>
        </FacebookLogin>
        <p class="text-pink mt-3 pointer"><span @click="isUpdateInfo = false">Quay lại đăng nhập</span></p>
      </div>
    </template>
  </div>
</template>

<script>
  import ErrorMessage from "~/components/base/ErrorMessage"
  import Loading from "../base/Loading"
  import FacebookLogin from "./FacebookLogin";
  import { sha256 } from 'js-sha256'

  export default {
    name: "SignIn",
    inject: ['$validator'],
    components: {
      Loading,
      ErrorMessage,
      sha256,
      FacebookLogin
    },
    data() {
      return {
        payload: [],
        password: '',
        errorMessage: '',
        isResetPass: false,
        isSendMailReset: false,
        isUpdateInfo: false,
        emailReset: '',
        loading: false,
        username: '',
        userInfoLogin: {},
        commonData: {}
      }
    },
    methods: {
      async signIn() {
        this.isSendMailReset = false
        this.errorMessage = ''
        if (!await this.$validator.validateAll()) return
        if(this.isEmail(this.username)) {
          this.payload.type = 'Email'
          this.payload.email = this.username
        }
        else {
          this.payload.type = 'PhonePassword'
          this.payload.phone = this.username
        }
        this.loading = true
        this.payload.password = sha256(this.password)
        let data = await this.$_callApiGet('account/login', this.payload, null)
        this.commonData = await this.$axios.$get('common/index')
        setTimeout(() => this.loading = false)
        if (data.Reason) {
          this.errorMessage = data.Reason
        }
        else {
          this.userInfoLogin = data.User
          if(data.User.FacebookId) {
            this.$_setDataSignIn(this.userInfoLogin, this.commonData)
            setTimeout(() => location.href = '/me/news')
          }
          else this.isUpdateInfo = true
        }
      },
      async resetPass() {
        this.loading = true
        let data = await this.$_callApiGet('account/password/forgot', { Email : this.emailReset }, [])
        setTimeout(() => this.loading = false)
        if (data.Reason) {
          this.errorMessage = data.Reason
        }
        else {
          this.isSendMailReset = true
          this.isResetPass = false
        }
      },
      openResetPass() {
        this.errorMessage = ''
        this.isResetPass = true
        this.isSendMailReset = false
      },

      isEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return re.test(String(email).toLowerCase())
      },

      connectFbError(user) {
        this.$toast.error('Kết nối không thành công', {duration: 5000})
      },
      async connectFb(user){
        const payload = {
          FacebookId: user.id,
          UserId: this.userInfoLogin.UserId,
          Token: this.userInfoLogin.Token,
        }
        let data = await this.$_callApiGet('account/update', payload, null)
        if (data.Reason) {
          this.$toast.error('Xảy ra lỗi hoặc '+ data.Reason, {duration: 8000})
        }
        else {
          this.userInfoLogin.FacebookId = user.id
          this.$_setDataSignIn(this.userInfoLogin, this.commonData)
          setTimeout(() => location.href = '/me/news')
        }
      },
    }
  }
</script>
