<template>
  <div class="mt-5 pt-3 login-social d-flex justify-content-center">
    <FacebookLogin @success="signFacebookSuccess" @error="signFacebookError">
      <button class="btn btn-primary">
        Đăng nhập với Facebook
      </button>
    </FacebookLogin>

    <Loading v-if="loading"/>
  </div>
</template>

<script>
  import FacebookLogin from "./FacebookLogin";
  import Loading from "~/components/base/Loading";

  export default {
    name: "SocialLogin",
    components: {FacebookLogin, Loading},
    data() {
      return {
        loading: false,
      }
    },
    methods: {
      async signFacebookSuccess(user) {
        const payload = {
          type: 'Facebook',
          FbId: user.id,
          FbName: user.name,
          FbEmail: user.email ? user.email : '',
          FbAvatar: 'https://graph.facebook.com/' + user.id + '/picture?type=large',
        }
        this.loading = true
        let data = await this.$_callApiGet('account/login', payload, null)
        const common = await this.$axios.$get('common/index')
        setTimeout(() => this.loading = false)
        if (data.Reason) {
          this.$toast.error(data.Reason, {duration: 5000})
        }
        else {
          let payload = {
            Fullname: user.name,
            Email: user.email
          }
          if(data.User.Fullname == '') data.User.Fullname = user.name
          if(data.User.Email == '') data.User.Email = user.email
          this.$_setDataSignIn(data.User, common)
          if(!data.User.Fullname) {
            await this.$_callUserApiGet('account/update', payload, null)
          }
          setTimeout(() => location.href = '/me')
        }
      },
      signFacebookError(user) {
        console.log(user);
      }
    }
  }
</script>
