<template>
  <div>
    <div v-if="show" class="popup">
      <div @click="show = false" class="popup-overlay"></div>
      <div class="popup-inner p-5">
        <div class="popup-close" @click="show = false">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <CustomerInsert />
      </div>
    </div>
    <div class="wapper-header">
      <div class="mb-4">
        <h3 class="text-pink pull-left wapper-header-title">Quản lý khách hàng</h3>
        <button class="btn btn-pink pull-right" @click="show = true">
          <i class="fa fa-plus-circle"></i> Tạo khách hàng
        </button>
        <div class="clearfix"></div>
      </div>
      <div class="tool-bar d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center">
          <button
            :disabled="!(checked.length !== 0)"
            @click="showPopup = true"
            type="button"
            class="btn btn-default btn-sm mr-3"
          >
            <i class="fa fa-trash-o"></i>
          </button>
          <div class="input-icon">
            <i class="fa fa-search"></i>
            <input
              @keyup="searchCustomer"
              v-model="searchQuery"
              v-debounce="750"
              style="width: 300px"
              class="mr-3"
              type="text"
              placeholder="Tìm theo tên KH, SĐT, địa chỉ"
            />
          </div>
          <!--<select class="mr-3">-->
            <!--<option value="">Tất cả</option>-->
            <!--<option value="">Đã đồng bộ</option>-->
            <!--<option value="">Chưa đồng bộ</option>-->
          <!--</select>-->
        </div>
        <div v-if="numPage > 1" class="pull-right">
          <b-pagination-nav
            ref="pagination"
            :value="page"
            :link-gen="linkGen"
            :number-of-pages="numPage"
            use-router
          />
        </div>
      </div>
    </div>
    <div class="wrapper-body position-relative">
      <div v-if="customers" class="bg-white">
        <table v-if="customers.length" class="table table-hover table-list">
          <thead>
          <tr class="text-uppercase">
            <th>
              <label class="checkbox-custom mr-3">
                <input
                  v-model="checkedAll"
                  @change="checkAll"
                  type="checkbox"
                >
                <span class="checkmark"></span>
              </label>
            </th>
            <th>Tên khách hàng</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Gmail</th>
            <th class="text-center" width="150px">HÀNH ĐỘNG</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="i in customers" :key="i.key" :class="i.Status ? 'watched' : ''">
            <td width="80px">
              <label class="checkbox-custom mr-3">
                <input
                  v-model="checked"
                  :value="i.CustomerId"
                  :checked="checked.indexOf(+i.NotificationId)>-1"
                  @change="checkedAll = false"
                  type="checkbox"
                >
                <span class="checkmark"></span>
              </label>
            </td>
            <td><nuxt-link :to="`customer/${i.CustomerId}`">{{i.Fullname}}</nuxt-link></td>
            <td>{{i.Phone}}</td>
            <td>{{i.Address}}</td>
            <td>{{i.Email}}</td>
            <td class="table-list-action" width="150px">
              <div class="d-flex align-items-center justify-content-center">
                <!--<label class="switch mr-3">-->
                  <!--<input type="checkbox" v-model="i.Sync" @change="asyncCustomer(i.Sync, i.CustomerId)">-->
                  <!--<span class="slider round"></span>-->
                <!--</label>-->
                <button @click="showPopup = true, checked = [i.CustomerId]"><i class="fa fa-trash"></i></button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div v-if="customers">
        <EmptyData v-if="!loading && !customers.length" page="DanhSachKhachHang"/>
      </div>
      <Loading v-if="loading"/>
      <div v-if="showPopup" class="popup">
        <div @click="showPopup" class="popup-overlay"></div>
        <div class="popup-inner p-5 text-center">
          <h3 class="mb-5">
            Bạn có muốn xóa thông tin khách hàng đã chọn ???
          </h3>
          <p><small class="text-danger">Tất cả các hợp đồng của khách hàng cũng sẽ bị xóa</small></p>
          <button @click="showPopup=false, checked = []" class="btn btn-default mr-4">Hủy</button>
          <button @click="deleteCustomer(checked)" class="btn btn-pink">Xóa</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import pageNavigation from "~/mixins/pageNavigation"
  import CustomerInsert from "~/components/form/CustomerInsert"
  import Loading from "~/components/base/Loading"
  import EmptyData from "~/components/EmptyData"
  import debounce from 'v-debounce'
  export default {
    name: "customer",
    directives: {
      debounce,
    },
    components: {
      EmptyData,
      Loading,
      CustomerInsert
    },
    mixins: [
      pageNavigation
    ],

    data() {
      return {
        page: 1,
        perPage: 15,
        customers: [],
        show: false,
        searchQuery: '',
        loading: false,
        checked: [],
        checkedAll: false,
        showPopup: false,
        numPage: 1
      }
    },

    created() {
      this.getData()
    },

    methods: {
      checkAll(status) {
        if (status.currentTarget.checked) {
          this.checked = []
          for (let i = 0; i < this.customers.length; i++) {
            this.checked.push(this.customers[i].CustomerId)
          }
        } else this.checked = []
      },
      async getData() {
        this.loading = true
        const dataAll =  await this.$_callUserApiGet('user/customers', [], [0,0])
        if(dataAll.Customers) this.numPage = Math.ceil(dataAll.Customers.length/this.perPage)
        let StartIndex = 0
        if (this.page !== 1) StartIndex = this.page * this.perPage
        const pageSection = [StartIndex,this.perPage]
        const data = await this.$_callUserApiGet('user/customers',[], pageSection)
        this.customers = data.Customers
        setTimeout(() => this.loading = false)
      },

      async asyncCustomer(syncStatus, customerId) {
        let message = ''
        let sync = ''
        console.log(syncStatus);
        if(syncStatus) {
          message = 'Đã tự động đồng bộ với thông tin của công ty bảo hiểm'
          sync = 1
        } else {
          message = 'Đã hủy tự động đồng bộ'
          sync = 0
        }
        const data = await this.$_callUserApiGet('customer/update', {
          Sync : sync,
          CustomerId: customerId
        })
        setTimeout(() => {
          this.showPopup = false
          if (data.Reason) {
            this.$toast.error(data.Reason, {duration: 5000})
          }
          else {
            this.$toast.success(message, {duration: 5000})
            this.getData()
          }
        })
      },

      async searchCustomer() {
        const pageSection = [0,this.perPage]
        if(this.searchQuery !== '') {
          this.loading = true
          const data = await this.$_callUserApiGet('search/customers',{Query: this.searchQuery}, pageSection)
          this.customers = data.Customers
          setTimeout(() => this.loading = false)
        }
        else this.getData()
      },

      async deleteCustomer(id) {
        const list = '['+ id.toString() + ']'
        const data = await this.$_callUserApiGet('customer/delete', {CustomerIds: list})
        setTimeout(() => {
          if (data.Reason) {
            this.$toast.error(data.Reason, {duration: 5000})
          }else {
            this.$toast.success(`Đã xóa ${id.length} khách hàng`, {duration: 5000})
            this.getData()
            this.showPopup = false
            this.checkAll = false
            this.checked = []
          }
        })
      },
    }
  }
</script>
