<template>
  <div>
    <div class="wapper-header pb-0">
      <h3 class="text-pink wapper-header-title">
        <nuxt-link to="/me/customer"><i class="fa fa-chevron-left text-pink mr-4"></i></nuxt-link> <b>{{ customerInfo.Fullname}}</b>
      </h3>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active">
            Thông tin cá nhân
          </li>
          <li>
            <nuxt-link :to="`${customerId}/contract`">Danh sách hợp đồng</nuxt-link>
          </li>
        </ul>
        <!-- /.tab-content -->
      </div>
    </div>
    <div class="wrapper-body">
      <div class="p-15">
        <div class="row">
          <div class="col-md-4">
            <div class="bg-white px-5 py-5">
              <div style="width: 100px; margin: auto" class="mb-4">
                <div class="bg-img bg-img-11 circle"/>
              </div>
              <h3 class="profile-username text-center"><b>{{ customerInfo.Fullname }}</b></h3>
              <p class="text-muted text-center mb-5">
                <i class="fa fa-phone text-green"></i> {{customerInfo.Phone}} <br>
                <i class="fa fa-map-marker text-green"></i> {{customerInfo.Address}}
              </p>
              <table class="mt-5 w-100">
                <tr>
                  <td>Tổng hợp đồng :</td>
                  <td class="text-right">{{totalContract}}</td>
                </tr>
                <tr>
                  <td>Email :</td>
                  <td class="text-right py-3">{{customerInfo.Email}}</td>
                </tr>
                <tr>
                  <td>Facebook :</td>
                  <td class="text-right">{{customerInfo.Facebook}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-md-8">
            <div class="bg-white px-4 py-5">
              <CustomerInsert :isCreated="false" :info="customerInfo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CustomerInsert from "~/components/form/CustomerInsert"
  export default {
    name: "CustomerInfo",
    components: {
      CustomerInsert
    },
    data() {
      return {
        customerInfo: [],
        totalContract: 0,
      }
    },

    computed: {
      customerId() {
        return this.$route.params.id
      },
    },
    created() {
      this.getCustomerInfo()
    },
    methods: {
      async getCustomerInfo() {
        let payload = {
          CustomerId: this.customerId
        }
        const data = await this.$_callUserApiGet('customer/detail', payload)
        this.customerInfo = data.Customer
        this.totalContract = data.Customer.Contracts.length

      //  totalContract
        const dataAll =  await this.$_callUserApiGet('customer/contracts', [], [0,10000])
        if(dataAll.Contracts) this.totalContract = dataAll.Contracts.length
      },
    }
  }
</script>
