<template>
    <div class="fb-comments" :data-href="url" data-width="auto" data-numposts="5"></div>
</template>

<script>
  export default {
    name: "FbComment",
    computed: {
      url() {
        return window.location.href
      }
    },
    mounted(){
      this.init()
    },
    methods: {
      init () {
        if (window.FB) {
          window.FB.init({
            appId      : '461593864589804',
            status     : true,
            xfbml      : true,
            version    : 'v3.3'
          })
        }
      }
    }
  }
</script>