<template>
    <div class="fb-like" :data-href="url" data-width="" data-layout="button_count" data-action="like" data-size="large"
         data-show-faces="false" data-share="true"></div>
</template>

<script>
  export default {
    name: "FbLikeShare",
    computed: {
      url() {
        return window.location.href
      }
    },
  }
</script>