<template>
  <div>
    <ClientHeader class="header-white"/>
    <div class="container" style="padding-top: 80px">
      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center py-5">
        <h1 class="text-center text-pink"><b>Tin tức - {{categoriesName}}</b></h1>
        <div class="input-icon">
          <i class="fa fa-search"></i>
          <input v-on:input="debounceInput" placeholder="Tìm tên, nội dung bài viết" type="text" style="width: 300px;">
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-md-4 mb-5" v-for="item in news">
          <nuxt-link :to="'/tin-tuc/'+item.NewsId">
            <div class="news">
              <div class="bg-img bg-img-34" :style="{ 'background-image': 'url(' + item.ImageUrl.replace('http://', 'https://') + ')' }">
                <div class="bg-img-overlay d-flex align-items-lg-end">
                  <div class="p-4">
                    <div class="news-title" style="-webkit-box-orient: vertical;">
                      <b>{{ item.Title }}</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="news-bottom d-flex justify-content-between align-items-center px-4 py-3">
                <b>
                  <small>{{checkCategoryName(item.CategoryId)}}</small>
                </b>
                <div class="text-pink">
                  <small><b>Xem chi tiết >></b></small>
                </div>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
      <div v-if="!isEnd" @click="getData()" class="text-center">
        <button class="btn btn-pink">Xem thêm</button>
      </div>
    </div>
  </div>
</template>

<script>
    import ClientHeader from '~/components/header/ClientHeader'
    import dateFormat from "~/mixins/dateFormat"
    import {debounce} from "debounce"

    export default {
        layout: 'client',
        name: "NewsCategory",
        mixins: [dateFormat],
        components: {ClientHeader},
        computed: {
            categoryId() {
                return this.$route.params.id
            }
        },
        data() {
            return {
                news: [],
                categoriesName: '',
                categories: [],
                page: 0,
                perPage: 15,
                isEnd: false
            }
        },
        created() {
            this.getData()
            //this.categoriesName = this.checkCategoryName(this.categoryId)
        },
        methods: {
            async getData() {
                let startIndex = this.page * this.perPage
                const data = await this.$_callApiGet('news/get', {CategoryId: this.categoryId}, [startIndex, this.perPage])
                this.categories = (await this.$_callApiGet('common/index', {CategoryId: 0}, [0, 5])).NewsCategoryList
                if (data.Reason) {
                    this.$toast.error(data.Reason)
                } else {
                    if (data.News && data.News.length < this.perPage) this.isEnd = true
                    this.news = this.news.concat(data.News)
                    this.page += 1
                    this.categoriesName = this.checkCategoryName(this.categoryId)
                }
            },
            async search() {
                this.isEnd = true
                if (this.searchQuery !== '') {
                    this.loading = true
                    let payload = {
                        Query: this.searchQuery,
                        CategoryId: this.categoryId,
                    }

                    const data = await this.$_callApiGet('news/search', payload, [0, this.perPage])
                    if (data.Reason) this.$toast.error(data.Reason)
                    else {
                        this.news = data.News
                    }
                    this.loading = false
                }
                else {
                    this.page = 0
                    this.isEnd = false
                    this.getData()
                }
            },
            checkCategoryName(id) {
                return this.categories.filter(e => e.CategoryId == id)[0].CategoryName
            },
            debounceInput: debounce(function (e) {
                this.searchQuery = e.target.value;
                this.search()
            }, 800)
        }
    }
</script>
