<template>
  <aside class="main-sidebar pt-0">
    <section class="sidebar">
      <div class="logo text-center p-0">
        <a href="/" target="_blank">
          <img width="100%" src="/images/log-white.svg" alt="">
        </a>
      </div>
      <div class="user-panel" :class="checkActive('me')">
        <div class="pull-left image" style="height: 50px; width: 50px">
          <div class="bg-img bg-img-11 circle" :style="{ 'background-image': 'url(https://graph.facebook.com/'+ userInfo.FacebookId + '/picture?type=large)' }"/>
        </div>
        <div class="pull-left info">
          <p :data-toggle="isMobile ? 'push-menu': ''"><nuxt-link to="/me">{{userInfo.Fullname}} <i class="fa fa-angle-right ml-3"></i></nuxt-link></p>
          <small>
            <div style="cursor: pointer" @click="signOut">Đăng xuất</div>
          </small>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li :class="checkActive('notification')" :data-toggle="isMobile ? 'push-menu': ''">
          <nuxt-link to="/me/notification">
            <i class="icon-noti mr-3"></i> <span>Thông báo</span>
          </nuxt-link>
        </li>
        <li :class="checkActive('premiumData')" :data-toggle="isMobile ? 'push-menu': ''">
          <nuxt-link to="/me/premiumData">
            <i class="fa fa-rocket"></i> <span>Kho Premium</span>
          </nuxt-link>
        </li>
        <li :class="checkActive('customer')" :data-toggle="isMobile ? 'push-menu': ''">
          <nuxt-link to="/me/customer">
            <i class="icon-user mr-3"></i> <span>Quản lý khách hàng</span>
          </nuxt-link>
        </li>

        <li :class="checkActive('calendar')" :data-toggle="isMobile ? 'push-menu': ''">
          <nuxt-link to="/me/calendar">
            <i class="icon-calendar mr-3"></i> <span>Lịch làm việc</span>
          </nuxt-link>
        </li>

        <li :class="checkActive('news')" :data-toggle="isMobile ? 'push-menu': ''">
          <nuxt-link to="/me/news">
            <i class="icon-news mr-3"></i> <span>Bản tin bảo hiểm</span>
          </nuxt-link>
        </li>

        <li :class="checkActive('course')" :data-toggle="isMobile ? 'push-menu': ''">
          <nuxt-link to="/me/course">
            <i class="icon-video mr-3"></i> <span>Khóa học</span>
          </nuxt-link>
        </li>

        <li :class="checkActive('companyInfo')" :data-toggle="isMobile ? 'push-menu': ''">
          <nuxt-link to="/me/companyInfo">
            <i class="icon-info mr-3"></i> <span>Thông tin</span>
          </nuxt-link>
        </li>
      </ul>
    </section>
  </aside>
</template>

<script>
  import Cookie from 'js-cookie'
  export default {
    name: "AdminMenu",
    data() {
      return {
        userInfo: []
      }
    },
    computed: {
      isMobile(){
        return window.screen.width < 768
      }
    },
    mounted() {
      if (!Cookie.get('user_info')) {
        location.href = '/'
      }
      else this.userInfo = JSON.parse(localStorage.user_info)
    },
    methods: {
      checkActive(path) {
        if(path === 'me') {
          let pathArray = this.$route.path
          pathArray = pathArray.split('/')
          if(pathArray[2] === 'contact')return 'active'
        }
        let pathArray = this.$route.path
        pathArray = pathArray.split('/')
        if(path === pathArray[2]) return 'active'
        else if (!pathArray[2] && path === pathArray[1] ) return 'active'
        else if (pathArray[2] === 'team' && path === pathArray[1]) return 'active'
        return ''
      },

      signOut() {
        this.$_removeDataSignIn()
        location.href = '/'
      }
    }
  }
</script>

<style lang="scss">
  .user-panel.active {
    background: #9D3D6F;
  }
</style>
